/* enable absolute positioning */
/*New from designerhh*/

/*join-team-modal-sec*/
.modal-title{font-size: 30px; color:#5e5e5e;}
.modal-md{width: 745px; height: auto;}
.donation-modal-header{border-bottom: 0; padding-left:30px;}
.modal-header .close-team{position: absolute; top:20px; right:30px; font-size: 44px;}
.join-team-modal{padding: 0;}
.join-team-modal form > label{padding:15px 0 15px 42px; font-size:18px; color: #6d6d6d; font-weight: lighter;}
.join-team-modal form > label span{color:#fe4040; padding:0 5px;}
.input-group .form-control{border-radius:5px !important; position: relative; left:20px; height: 55px;}
.modal-donate-btn{background-color:#48c253; font-size: 18px; border-radius: 5px; color: #fff; border:0; outline: 0; padding:10px 15px; margin:0 10px; }
.join-team-modal-footer{border:0; width: 100%; margin: 0 auto; text-align:left; padding-left: 30px;}
.join-team-modal-footer a{color:#fff; background-color: #dbdbdb;border-radius: 5px; border:0; outline: 0; padding:10px 15px; margin:0 10px; font-size: 18px;}
.join-team-modal-footer a:hover{text-decoration: none;}
.campaign-list{margin-top: 15px;}
.campaign-list h4{background-color: #e5f0f2; padding: 15px; font-size: 18px; font-weight: lighter; color:#6d6d6d;}
.campaign-list h6{color:#797979; font-size: 18px; font-weight:400; padding: 15px 0 15px 42px;}
.campaign-list ul{padding:0 25px;}
.campaign-list ul li{display:block; position: relative; margin:8px auto; border-bottom: 1px solid #e5e5e5; min-height: 50px; padding-left: 10px;font-size: 18px; font-weight: normal;}
.campaign-list ul li:last-child{border-bottom: 0;}
.campaign-list ul li a{color: #6d6d6d; padding-left:40px; font-weight: lighter; font-size: 12px;}
.campaign-list ul li a:hover, .campaign-list ul li a:focus{text-decoration: none; border: 0; outline: 0;}
.campaign-list ul li label{display:inline-block; cursor: pointer; font-weight: lighter;}
.campaign-list ul li span{display: block; cursor: pointer; padding-left:50px;  padding-top:7px;color: #6d6d6d; font-weight: lighter; font-size:18px}
.campaign-list ul li input{display: none;}
.campaign-list ul li span:before{content: ''; position: absolute; left: 15px; top:8px; width: 25px; height:25px; border-radius: 50%; border:1px solid #6d6d6d; background-color:#fff;}
.campaign-list ul li input:checked  +  span:after{content: ''; position: absolute; top:13px; left:20px; width:15px; height:15px; border-radius: 50%; background-color:#37c2db;}
.campaign-list ul.add-new-campaign {background-color:#f7fafa;padding: 2px 25px;}

/*join-team-modal-sec*/

.teamlogo-campainpage{width: 43px; margin-right: 0px; padding:0px: }

.social-links-wrapper .teamlogo-campainpage {
    display: inline-block;
    padding: 0px 0px;
}

.team-members-thump{margin-right:3%;}

.campain-bottom .edit-button {
    background: none repeat scroll 0 0 #a7a7a7;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px !important;
    height: 40px !important;
    margin-right: 3px;
    padding-top: 10px;
    text-align: center;
    width: 40px !important;
}

.campain-bottom .view-button {
    background: none repeat scroll 0 0 #00bc3f;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px !important;
    height: 40px !important;
    margin-right: 3px;
    padding-top: 10px;
    text-align: center;
    width: 40px !important;
}

.campain-bottom .delete-button {
    background: none repeat scroll 0 0 #e86f5b;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px !important;
    height: 40px !important;
    margin-right: 3px;
    padding-top: 10px;
    text-align: center;
    width: 40px !important;
}

.campain-bottom .add-button {
    background: none repeat scroll 0 0 #e86f5b;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px !important;
    height: 40px !important;
    margin-right: 3px;
    padding-top: 10px;
    text-align: center;
    width: 40px !important;
}

.team-info{margin-left: 0px !important;}
.team-info h3{font-weight: 14px; font-weight: 300;color:#6b6b6b;}
.team-info ul{padding: 10px 2px;}
.team-info h4{color:#6d6d6d; font-weight: 600; font-size: 20px; line-height:1.8em;}
.team-info h4 span{font-weight: 300; font-size: 16px; padding-left: 10px }

.manage-campaign-list ul{padding:0}
.manage-campaign-list li{display:block; position: relative; margin:4px auto; border-bottom: 1px solid #e5e5e5; min-height: 50px;font-size: 18px; font-weight: normal;}
.manage-campaign-list ul li:last-child{border-bottom: 0;}
.manage-campaign-list ul li a{color: #6d6d6d; padding-left:22px; font-weight: lighter; font-size: 12px;}
.manage-campaign-list ul li a:hover, .campaign-list ul li a:focus{text-decoration: none; border: 0; outline: 0;}
.manage-campaign-list ul li label{display:inline-block; cursor: pointer; font-weight: lighter;}
.manage-campaign-list ul li span{display: block; cursor: pointer; padding-left:50px;  padding-top:7px;color: #6d6d6d; font-weight: lighter; font-size:18px}
.manage-campaign-list ul li input{display: none;}
.manage-campaign-list ul li span:before{position: absolute; left:5px; top:16px; width: 25px; height:25px; border-radius: 50%; border:1px solid #6d6d6d; background-color:#fff;}
.manage-campaign-list ul li input:checked  +  span:after{content: ''; position: absolute; top:21px; left:10px; width:15px; height:15px; border-radius: 50%; background-color:#37c2db;}

.mail-list{float: left; width: 100%; margin:25px auto;}
.approval-mail{font-size:15px; font-weight:600;color: #fff; display:inline-block;margin:0 10px;background-color: #48c253; border:0; border-color: #48c253;border-radius:5px; padding: 10px 35px }
.approved-mail{background-color: transparent; border:0; outline: 0; margin:0 15px; width: 100px;}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    
    text-align: left;
    padding:12px;
}

th{
    border:0; background-color: #f1f1f1; padding:15px;
}

tr:nth-child(odd) {
    border-bottom: 1px solid #dddddd;}

td.right-side{text-align:right;}  
td.right-side span{cursor: pointer;}  


.addEmail {
    color: #fff !important;
    cursor: pointer;
    font-size: 65px;
    top:8%;
}

/*New from designer*/

.addEmail:hover{
    color: #41bb4c;
}

.customRadio #datepicker {
    bottom: 20px;
    left: 20px;
    position: absolute;
    border: 1px solid #c4c4c4;
    height: 44px;
    font-size: 16px;
    padding: 5px 20px;
}

.customCalender {
    color: #cbcbcb;
    bottom: 32px;
    right: 28px;
    font-size: 24px;
    position: absolute;
}

/**
*select outer small for reward page 
*Added By Ajay Saini
**/
.reward-select {
    width: 80%;
}

.reward-input {
    width: 40%;
}

.inner-addon {
    position: relative;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #d5d5d5;
}

select:focus,
input:focus {
    outline: 0;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.iconOuter-active {
    background: #37c2df;
}

.iconOuter-Inactive {
    background: #d5d5d5;
    border-color: #c8c8c8;
    box-shadow: none;
}

.customradio-theme {
    display: inline;
}

.customradio-theme div {
}

.customradio-theme input[type="radio"] {
    display: none;
}

.customradio-theme input[type="radio"] + label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
    border-right: none;
}

.customradio-theme .colorBox:first-child input[type="radio"] + label {
    border-radius: 5px 0 0 5px;
}

.customradio-theme .colorBox:last-child input[type="radio"] + label {
    border-radius: 0px 5px 5px 0px;
}

.customradio-theme .colorBox:last-child input[type="radio"] + label {
    border-right: 1px solid #ccc;
}

.customradio-theme input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 0px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.customradio-theme input[type="radio"] + label span {
}

.customradio-theme input[type="radio"]:checked + label {
    background: #eee;
}

.customradio-theme input[type="radio"]:checked + label span {
}

.customradio-theme input[type="radio"] + label span,
.customradio-theme input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.customradio-theme .colorBox {
    display: inline-block;
    float: left;
}

.createCampaignForm .innerForm .shippingCostBlock .gbpBtn input {
    width: 70%;
}

.createCampaignForm .innerForm .shippingCostBlock .gbpBtn button {
    width: 30%;
}

/* Custom Width For ProgressBar For 4 Stage Added by ajay saini */
.progresswidth {
    width: 108%;
}

.stripe-connect {
    cursor: pointer;
}

.stripe-before-connent {
    background: #48c253 none repeat scroll 0 0;
    box-shadow: 0 0px 0 0 #cbcbcb inset;
    border: 0px;
}

a.disabled-link {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.mce-content-body {
    color: #333 !important;
    font-family: montserratregular !important;
    font-size: 14px;
}

/************tabl-menu************/
.nav > li > a:focus {
    background: none;
}

.card .nav-tabs > li.active > a, .card .nav-tabs > li.active > a:focus, .card .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.card .nav-tabs > li > a {
    border: none;
    color: #c0c0c0;
    font-size: 18px;
    padding: 0 29px 12px 29px;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 17px;
}

.card .nav-tabs > li > a .fa {
    font-size: 17px;
    margin-right: 0px;
}

.card .nav-tabs > li.active > a, .card .nav-tabs > li > a:hover {
    border: none;
    background: -webkit-linear-gradient(left, #00bc3e, #37c2df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .nav-tabs > li > a::after {
    content: "";
    background: transparent;
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.card .nav-tabs > li > a:hover:after, .card .nav-tabs > li.active a:after {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    transition: all 250ms ease 0s;
    transform: scale(0);
    background: #00bc3e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #00bc3e, #37c2df); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #00bc3e, #37c2df); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #00bc3e, #37c2df); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #00bc3e, #37c2df); /* Standard syntax */
}

.card .nav-tabs > li.active > a::after, .card .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.card .tab-nav > li > a::after {
    background: #21527d;
    color: #fff;
}

.card .tab-pane {
    padding: 25px 0;
}

.card .tab-content {
    padding: 0
}

.campaign-step {
    font-size: 10px;
    color: #b2b2b2;
    display: block;
}

.tab-top-wrap .nav-tabs i {
    color: #48c253;
    font-size: 16px;
    margin-left: 9px;
}

.tab-top-wrap .nav-tabs li i {
    display: none;
}

.tab-top-wrap .nav-tabs li.active i {
    display: inline-block;
}

::-webkit-input-placeholder {
    color: #d5d5d5;
}

:-moz-placeholder {
    color: #d5d5d5;
}

::-moz-placeholder {
    color: #d5d5d5;
}

:-ms-input-placeholder {
    color: #d5d5d5;
}

.dropdown dt a span.dropdown-list {
    padding: 15px 10px;
    color: #d5d5d5;
}

.u-absoluteCenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.u-flexCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.u-offscreen {
    position: absolute;
    left: -999em;
}

.progress-circle-wrapper {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.progress-circle-wrapper :first-child {
    margin-bottom: 20px;
}

.progress-circle-image {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.progress-circle__meter,
.progress-circle__value {
    fill: none;
}

.progress-circle__value1{
    fill: none;
}
.progress-circle__meter {
    stroke: #e0e0e0;
}

.progress-circle__value {
    stroke: #37c2db;
    stroke-linecap: round;
}

.progress-circle__value1 {
    stroke: #37c2db;
    stroke-linecap: round;
}


.progress-text {
    font-weight: 600;
    font-size: 28px;
    color: #37c2db;
    position: absolute;
    top: 38px;
    text-align: center !important;
    /*right: 90px;*/
    /*left: 86px;*/
}