.icon-publish::before, .icon-save::before, .icon-ok::before, .icon-save-new::before, .icon-save-copy::before, .btn-toolbar .icon-copy::before
    {
        color: #378137;
    }
    .icon-publish::before, .icon-save::before, .icon-ok::before, .icon-checkmark::before{
        content: "\f00c";
        font-family: "FontAwesome";
    }
    .icon-unpublish:before, .icon-not-ok:before, .icon-eye-close:before, .icon-ban-circle:before, .icon-minus-sign:before, .btn-toolbar .icon-cancel:before{
        color: #942a25;
    }
    .icon-unpublish:before, .icon-cancel:before {
        content: "\f00d";
        font-family: "FontAwesome";
    }
    .donation h3.pull-left.search{
        margin-top: 0px;
         font-size: 1.5em;
    }
    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
        color :#ccc;
    }
    