/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26 May, 2016, 4:27:42 PM
    Author     : daffodil
*/

ul #campaign_list_tab li .active {
    background: #b6b6b6;
}

.innerListbox .selectTab {
    color: #2c9bb2;
}

.headerTop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.sliderOuter .flexslider {
    border: none;
    margin: 0;
    background: none;
}

.slideContent {
    width: 100%;
    padding: 75px 0 0;
}

.flexslider .slides > li {
    min-height: 477px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.flexslider .slides .slide1 {
    background: url("../site/images/home-banner.jpg");
}

.flexslider .slides #slide2 {
    background-image: url('site/images/home-banner.jpg');
}

.flexslider .slides #slide3 {
    background-image: url('site/images/home-banner.jpg');
}

.flexslider .slides #slide4 {
    background-image: url('site/images/home-banner.jpg');
}

.flexslider .slides #slide5 {
    background-image: url('site/images/home-banner.jpg');
}

.width120 {
    min-width: 120px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #37c2df;
    line-height: 38px !important;
    height: 40px;
    -moz-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    text-shadow: 0px 1px 2px #666;
}

/* custom added */
.explore-list ul li.charity-sec {
    background-position: 0px 4px;
}

.explore-list ul li.business-sec {
    background-position: 0px -40px;
}

.explore-list ul li.competitions-sec {
    background-position: 0px -80px;
}

.explore-list ul li.creative-sec {
    background-position: 0px -122px;
}

.explore-list ul li.events-sec {
    background-position: 0px -164px;
}

.explore-list ul li.travel-sec {
    background-position: 0px -206px;
}

.explore-list ul li.community-sec {
    background-position: 0px -252px;
}

.listEplore .imgContainer {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 186px;
}

.listEplore .imgContainer img {
    height: 100%;
    display: block;
    margin: 0px auto;
    width: 100%;
}

/*.listEplore .imgContainer{ -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;height: 186px; background: url("../images/home-banner.jpg") no-repeat center center; background-size: cover;}*/
ul.listEplore li { /*width: 33.33%; float: left;*/
    padding: 15px;
}

/*ul.listEplore li .listDetails{ background:  #f5f5f5;  -moz-box-shadow:    inset 0px -2px 0px 0px #c4c4c4; -webkit-box-shadow: inset 0px -2px 0px 0px #c4c4c4; box-shadow:         inset 0px -2px 0px 0px #c4c4c4; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 20px 20px 15px; border: 1px solid #b6b6b6;}
*/
/*remove li background*/

ul.listEplore li .listDetails {
    -moz-box-shadow: inset 0px -2px 0px 0px #c4c4c4;
    -webkit-box-shadow: inset 0px -2px 0px 0px #c4c4c4;
    box-shadow: inset 0px -2px 0px 0px #c4c4c4;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 20px 15px;
    border: 1px solid #b6b6b6; /*min-height:128px;*/
}

.videoWrapper .playBtn {
    display: table-cell;
    height: 445px;
    vertical-align: middle;
    position: relative;
}

.facebookBtn {
    padding: 0 30px 0 0 !important;
    display: inline-block !important;
    border: 1px solid #3c5a99;
    font-size: 24px;
    font-family: 'montserratregular';
    color: #fff !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #3c5a99;
    line-height: 52px !important;
    height: 56px;
    -moz-box-shadow: inset 1px 1px 0px 0px #888;
    -webkit-box-shadow: inset 1px 1px 0px 0px #888;
    box-shadow: inset 1px 1px 0px 0px #888;
    text-shadow: 0px 1px 2px #666;
}

button.facebookBtn:hover {
    background: #36518a;
}

button.facebookBtn span {
    vertical-align: middle;
    display: inline-block;
}

button.facebookBtn span:last-child {
    padding-left: 15px;
    border-left: 1px solid #4b67a1;
}

button .iconSec {
    padding: 0 20px;
    margin-right: 0;
    font-size: 34px;
    border-right: 1px solid #37528b;
}

.facebookBtn {
    margin: 0 0 30px;
}

/* Our Css Extra */

.videoWrapper .blue-btn-lg {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: -28px;
    margin-left: -133px;
}

.gbpBtn {
    padding: 0 0 10px;
}

/*.coverImageContent .profileOuter .imgOuter img{
    max-width: 210px;
}*/
.coverImageContent .profileOuter .imgOuter img {
    height: 210px;
    width: 210px;
}

.signUp-form .form-sec .form-row .inputBlock {
    position: relative;
}

.signUp-form .logoUpload + .inputBlock {
    max-width: 240px;
    height: 175px;
    overflow: hidden;
}

.signUp-form .inputBlock img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.errorForm {
    bottom: -18px;
    color: red;
    font-family: "montserratlight";
    font-size: 12px;
    left: 0;
    position: absolute;
}

.form-sec .form-row input.blue-btn-lg {
    background: #37c2df none repeat scroll 0 0;
    border: 1px solid #2786b4;
    border-radius: 8px;
    box-shadow: 0 -2px 0 0 #2c9bb2 inset;
    color: #fff !important;
    display: inline-block !important;
    font-family: "montserratbold";
    font-size: 24px;
    height: 56px;
    line-height: 52px !important;
    padding: 0 30px !important;
    text-shadow: 0 1px 2px #666;
}

/* CSS for file upload blocks */

.align-div-center {
    text-align: center;
}

.radio-cursor-pointer {
    cursor: pointer;
}

.load-more-donar-profile p {
    text-align: left;
}

.load-more-donar-profile p button {
    width: 340px;
}

.hide-pagination, .social-media-buttons, .loadMoreBlock, .loadMoreBlockFund { /*display: none;*/
}

#charity1-form, #charity2-form {
    display: none;
}

.donate-progress-bar {
    bottom: 0;
    margin: 0px !important;
}

.uploaded-pic-block {
    height: 100%;
    width: 70%;
}

.file-input-block {
    height: 200px !important;
}

.custom-container .blur {
    display: block;
    -webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(5px);
    opacity: 0.95;
}

div.custom-container .blur {
    cursor: default !important;
}

.email-verification {
    text-align: center;
    margin-top: 5%;
    z-index: 10;
}

.email-verification h2, h1 {
    color: midnightblue;
}

.email-verification a {
    color: #37c2df;
    font-size: 24px;
}

.coverOuter {
    position: relative;
    margin-bottom: 60px;
}

.progressOuter {
    background-color: #f4f4f4;
    border-radius: 50%;
}

/*.progressOuter {  background: url("../images/donate-progress-bg-1.png") no-repeat 0px 0px; width:180px; height:180px;}*/
.listDetails .inherit {
    position: inherit !important;
}

.paginationOuter ul.pagination > li > a {
    cursor: pointer;
}

.explore-list a {
    color: #9f9f9f;
}

.explore-list li:hover {
    opacity: .75;
}

.explore-list a.active {
    color: #000;
}

.pagination .disabled a {
    pointer-events: none;
    color: #fff !important;
    background: #37c2df;
}

.description.large-word {
    word-break: break-all;
}

/*.text-fade { color: #bfbfbf; }
.account-active { color: #00ff00; }*/
.account-Inactive {
    color: #bfbfbf;
}

.customRadio #datepicker {
    width: 90%;
}

.custom-dropdown-logout {
    min-width: 170px !important;
    height: 40px;
}

#loading-image {
    display: none;
    margin: 0px auto;
}

.custom-footer {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.customURLbox {
    margin: 10px 0 15px; /*padding-top: 40px;*/
}

.customURLbox .input-large {
    height: 50px;
    width: 100%;
}

.help-block {
    color: #a94442;
    text-align: left;
}

.error-help-block {
    color: #de3737;
    font-size: 12px;
}

.hidden {
    display: none;
}

.removeBottomBorder {
    display: none;
}

.form-sec .form-row .inputBlock textarea {
    border: 1px solid #a0a0a0;
    border-radius: 6px;
    color: #333;
    font-family: "montserratregular";
    font-size: 24px;
    padding: 10px 25px;
    width: 100%;
}

/* Campaign -create error span css  #goal_amount_monetary-error, #datepicker-error, #campaign_category-error {
 bottom: -34px;
 left: 4px;
 position: absolute;
 overflow:unset !important;
}*/
#donation_amount-error {
    position: absolute;
}

#datepicker-error {
    width: 400px;
}

#register-form.help-block {
    display: inline !important;
    margin: 0 0 22px;
}

#goal_amount_monetary-error, #datepicker-error {
    bottom: -34px;
    left: 4px;
    position: absolute;
}

#datepicker-error {
    width: 400px;
}

#campaignImage-error, #upload_pic-error {
    font-family: montserratregular;
}

#theme_id_error {
    margin-left: 12px;
}

.bootstrap-wysihtml5-insert-link-modal .modal-body label.checkbox {
    display: none;
}

.loginDp {
    display: block;
    height: 25px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 25px;
}

.charityLogo {
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    height: 175px;
    position: relative;
    text-align: center;
    width: 240px;
}

.update-btn:hover {
    opacity: 0.7 !important;
}

.donate-map-block {
    width: 330px;
    margin: 0 15px 25px;
}

.progressOuter {
    cursor: default !important;
}

.progressOuter path {
    cursor: inherit !important;
}

.customIcon {
    bottom: 5px;
    position: absolute;
    left: 15px;
    z-index: 1;
    border: medium none;
    color: #333;
    font-family: "montserratbold";
    font-size: 44px;
    background: none;
}

.inputPad {
    padding-left: 60px !important;
}

.bg_new {
    padding-bottom: 30px; /*padding-top: 20px;*/
}

.location-link {
    color: #37c2df;
    cursor: pointer;
}

.location-link-span {
    margin-top: 1%;
}

.disabledClass {
    background: #dddddd;
}

#mceu_17 {
    display: none;
}

#mceu_26 {
    display: none;
}

#mceu_35 {
    display: none;
}

.hide-Location {
    display: none;
}

.show-Location {
    display: inline;
}

.explore-list ul li.faith-sec {
    background: url(../../images/category-icons/faith.png) no-repeat;
}

.explore-list ul li.family-sec {
    background: url(../../images/category-icons/family.png) no-repeat;
}

.explore-list ul li.national-sec {
    background: url(../../images/category-icons/national.png) no-repeat;
}

.explore-list ul li.newlyweds-sec {
    background: url(../../images/category-icons/newlyweds.png) no-repeat;
}

.explore-list ul li.other-sec {
    background: url(../../images/category-icons/other.png) no-repeat;
}

.explore-list ul li.wishes-sec {
    background: url(../../images/category-icons/wishes.png) no-repeat;
}

.launch-note {
    margin-left: 1.3%;
}

.image-note {
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.giftaid {
    font-family: cursive;
    padding: 8%;
    font-size: 18px;
}

.charity-amount-check {
    color: #aeaeae;
    font-size: 18px;
    line-height: 20px;
}

.charity-amount-check strong {
    color: #747474;
    font-weight: 500;
}

.stripe-connect-button {
    padding: 10px;
}

.payaddress-margin .row {
    margin-bottom: -32px;
}

.payaddress-margin .clearfix {
    height: 2px;
}

.payaddress-margin h3 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #818181;
}

.edit-bar {
    background: #f0f0f0;
    padding: 20px 0;
}

.edit-bar a {
    color: #a7a7a7;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.edit-bar a span {
    vertical-align: middle;
}

.edit-bar a i {
    text-align: center;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 22px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    line-height: 42px;
}

.edit-bar .edit-icon i {
    background: #a7a7a7;
}

.edit-bar .edit-icon:hover {
    color: #8e8e8e;
}

.edit-bar .push-icon i {
    background: #ff7200;
}

.edit-bar .push-icon:hover {
    color: #ff7200;
}

.edit-bar .offline-icon i {
    background: #00bc3f;
}

.edit-bar .offline-icon:hover {
    color: #00bc3f;
}

.edit-bar .delete-icon i {
    background: #e86f5b;
}

.edit-bar .delete-icon:hover {
    color: #e86f5b;
}

.edit-bar .post-icon i {
    background: #37c2df;
}

.edit-bar .post-icon:hover {
    color: #37c2df;
}

@media (max-width: 1199px) {

    .signUp-form .image-upload-wrapper {
        margin-left: 39px;
    }

}

@media (max-width: 767px) {
    .giftAidTextFirst {
        color: #fff;
        font-weight: 300;
        margin-left: 100px;
        padding-left: 0;
        padding-top: 90px;
        font-size: 14px;
        background: url(../images/gift-laid-icon.png) no-repeat 0px 24px;
    }

    .giftaidCheckBox {
        width: 44px;
        margin-left: 56px;
        padding: 4% 0 4% 0;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }

    .giftaidCheckBox:before {
        background: url(../images/ver_arrow.png) no-repeat left top;
        content: "";
        position: absolute;
        width: 40px;
        height: 108px;
        left: -20px;
        top: -108px;
    }

    .giftAidTextSecond {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 66%;
        padding-right: 42px;
        font-size: 11px;
        padding-left: 0;
        max-width: 220px;
    }

    .giftAddAmount {
        color: #fff600;
        font-size: 38px;
        font-weight: bold;
    }

    .giftCheck {
        padding: 10px;
    }

    .charity-amount-check {
        line-height: 16px;
    }

    .social-buttons .btn-fb i {
        margin-right: 16px;
    }

    .payaddress-margin .row {
        margin: 0 0 -20px 0;
    }

    /*.edit-bar { display: none; }*/

}

@media (min-width: 768px) {
    .giftaidDiv {
        background: url(../../images/gift_aid.jpg) center no-repeat;
        /* background-size: 100%;
                   padding-bottom: 10px;
                   padding-top: 10px;*/
        height: auto;
        background-color: #37c2df;
    }

    .giftAddAmount {
        font-size: 38px;
        font-weight: bold;
        color: #fff600;
    }

    .giftAidTextFirst {
        color: #fefefe;
        margin-left: 24%;
        margin-top: 2%;
    }

    .giftaidCheckBox {
        margin-left: 7%;
        padding: 5%;
    }

    .giftAidTextSecond {
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        margin-top: 3%;
        text-align: justify;
    }

    .donation-outside-text {
        color: #c1c1c1
    }
}

@media (max-width: 600px) {
    .edit-bar a {
        float: left;
        margin-right: 0;
        width: 50%;
        margin-bottom: 10px;
        font-size: 12px;
    }
}

.image-outer-div {
    display: none;
}

@media all and (max-width: 480px) {

    .giftaidCheckBox:before {
        left: -20px;
        top: -108px;
    }
}

.dark {
    color: #333 !important;
}
