body{
	font-family:'montserratlight'
}
strong{
	font-family:'montserratbold'
}
.navbar-default .navbar-nav>li>a.green-btn:focus{
	background:#48c253!important
}
.navbar-nav>li>a.blue-btn:focus{
	background:#37c2df!important
}
a.green-btn, a.green-btn:focus, a.green-btn:active, a.blue-btn, a.blue-btn:hover, a.blue-btn:focus, a.blue-btn:active{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:  none;
	border:none;
	text-shadow:none;
	height:auto
}
.navbar-nav>li>a.green-btn:hover, .navbar-nav>li>a.green-btn:focus{
	background:#34a13e!important;
	opacity:1
}
.navbar-nav>li>a.blue-btn:hover{
	background:#259eb7!important;
	opacity:1
}
.innerHeader .navbar-nav.navbar-right{
	padding:0
}
.innerHeader .navbar-default .navbar-nav > li > a{
	font-family: 'montserratregular'
}
.navbar-brand img{
	max-width:100%
}
a.navbar-brand{
	float:none;
	height:auto;
	padding:0
}
.innerHeader{
	padding:0
}
@media screen and (min-width:1200px){
	
.innerHeader .navbar-nav, .innerHeader .navbar-nav.navbar-right{
	margin:0
}

.innerHeader .container>.header-row{
	padding:0px 0 40px 0px
}
.innerHeader .row{
    display: flex;
    align-items: center;
}
.navbar-nav{
	padding:0
}
}

.innerHeader .navbar-toggle .icon-bar {
        background: #333 none repeat scroll 0 0;
}
@media screen and (max-width:767px){
.mobile-nav{
	padding:20px 15px	
}
div.homeHeader .innerHeader{
	position:absolute;
	width:100%;
	z-index:100;
	background:transparent;
}
div.homeHeader{
	background:none
}
#navbar.navbar-collapse{
	background-color:white	;
	margin-left:-20px;
	margin-right:-20px;
	margin-top:0;
	padding-top:10px;
	padding-bottom:10px
}
#navbar .navbar-right{
	padding-left:15px
}
.innerHeader.light .navbar-toggle .icon-bar{
	background-color:white
}
#navbar li > a{
	color:black
}
}
.navbar-toggle{
	margin-top:0;
	margin-bottom:0;
	padding:10px 0 0 0
}
.container input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea{
	color:#333	;
	
}
div.form-sec .form-row input{
	font-family: "montserratregular";
}
form .form-control::-moz-placeholder {
  color: #d5d5d5;
  opacity: 1;
}
form .form-control:-ms-input-placeholder {
  color: #ccc;
}
form .form-control::-webkit-input-placeholder {
  color: #ccc;
}

div.form-sec .form-row input.blue-btn-lg{
    border: none;
    box-shadow: none;
    font-family: "montserratregular";
    text-shadow: none;
	/*height:auto;*/
	padding:30px
}
.header-additional-links{
	padding:0px 10px 10px 0;
	font-size:13px
}
.nav.nav-bar {
    float: right;
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .nav.nav-bar {
        display: none;
    }

}

.nav.navbar-nav.navbar-right{
	clear:both
}
.header-additional-links ul li a{
	color:#898989
}
.header-additional-links .nav-bar>li{
	float:left;
	padding-left:0;
}

.header-additional-links .nav-bar>li a{
	padding:0 15px 0 0;
}
.header-additional-links .nav-bar>li:last-child a{
	padding:0;
}
.header-additional-links ul li a:hover, .header-additional-links ul li a:focus{
	background:transparent;
	text-decoration:underline
}

.navbar-collapse{
	padding:0	
}
.navbar{
	    min-height: auto;
}
.homeHeader .innerHeader{
	position:absolute;
	width:100%;
	z-index:100;
	background:transparent;
}
.homeHeader .header-additional-links .nav-bar>li a{
	color:white
}

.homeHeader .innerHeader .navbar-default .navbar-nav > li > a{
	color:white
}
.navbar-nav>li>a.blue-btn.dropdown-toggle{
	line-height:38px;
}

.navbar-nav>li>a.blue-btn.dropdown-toggle span.imgDP{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	margin-right:10px;
	top:0;
	left:0
		
}
.navbar-nav.navbar-right > li.drop >a{
	margin-left:2px;
}
.navbar-nav.navbar-right > li.drop.open >a{
	border-radius:5px 5px 0 0;
	background:#f4f4f4!important;
	color:black!important;
	border:1px solid #ccc;
	border-bottom:0;
	margin-left:0
}
.navbar-nav.navbar-right > li.drop.open .dropdown-menu a:hover{
	background-color:#e5e5e5	
}
.innerHeader .navbar-nav.navbar-right > li{
	padding:0 10px 0 0;
}
.innerHeader .navbar-nav.navbar-right > li:last-child{
	padding:0
}
.navbar-nav>li>.dropdown-menu{
	min-width:auto;
	right:0!important
}
.cirButton{
	border:0;
	-webkit-box-shadow:none;
	box-shadow: none;
	text-shadow: none	
}
.about h1{
	margin-bottom:20px;
	color:black;
	font-size:36px;
	margin-top:0;
}
.about h2{
	font-size:26px;
	font-family:"montserratregular";
	margin-bottom:20px;
	margin-top:20px

}

.about-text:first-letter { 
	float: left; 
	color: #37c2df; 
	font-size: 45px; 
	line-height: 40px;  
	padding-right: 3px; 
	padding-left: 0px;
}

.about{
	margin-top:40px
}
.about p{
	font-family:"montserratlight";
}
.principles {
	background: #f9f9f9;
	margin-bottom:40px
}
div.principles .container{
	background: url(../images/clouds.png) no-repeat 90% 10%;
	padding-top:30px;
	padding-bottom:30px

}
.principles h1{
	margin:0 0 20px 0
}

.fees{
	margin-bottom:10px
}
.bgWhite{
	padding-right: 15px;
    padding-left: 15px;
}
.donateNowBtn a{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
div.donation-form-col-width{
	width:auto
}
.formbtns input{
	margin-bottom:10px	
}
div.customradio-theme .colorBox {
    display: inline-block;
    float: none;
    margin-right: -4px;
}
div.customURLbox {
    padding-top: 0px;
}
.lt-green-lg {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
.lt-green-lg:hover {
    background: #1682b6;
	opacity:1
}

hr.colored {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 5px;
  margin:40px 0 0 0;

  background: -moz-linear-gradient(left, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%);  /* FF3.6+ */
  background: -webkit-linear-gradient(left, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* W3C */
}

.fees > div {
	text-align:left;
	
}
.fees .fee-container{
	border-radius:5px	;
	margin:20px 0;
	padding:0
}
.fees .fee{
	font-size:40px;
	font-family:"montserratlight"
}
.fees .fee-title{
	font-size:18px;
	margin-bottom:13px
}
.fees .additional-fees{
	font-size:16px;
	font-family:"montserratbold"
}



.faq img {
    vertical-align: middle;
}

.faq .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.faq .img-rounded {
    border-radius: 3px;
}

.faq .img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.faq .img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

  

    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 10px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #f5f5f6;
                padding: 1em;
                margin-left: 0;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

               .timeline-centered ol li, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }
				.timeline-centered ol li{
					list-style:decimal;
				}
				.timeline-centered ol{
					margin-top:10px
				}
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }
.content h1{
	margin:25px 0 20px 0;
	color:#36c3df
}
.content h2{
	font-size:1.4em;
	margin-bottom:15px
}
.content p{
	margin:15px	0
}
.content ul li{
	list-style:disc;
	margin-left:10px
}
.content ul{
	margin-left:20px
}