@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff'),
        url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
        url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff'),
        url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
        url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-light-webfont.woff') format('woff'),
        url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
        url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
        url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
        url('../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Roboto', sans-serif !important;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"], 
textarea{
    color: #333;
}
ul,li{ margin: 0; padding: 0; list-style: none; }
h1,h2,h3,h4,h5,h6{ font-weight: normal; margin: 0; }
a:link, a:hover, a:focus{ text-decoration: none; outline: 0;}
.createCampaignForm .customRadio input:hover{cursor:pointer !important;}
/* buttons */

::-webkit-input-placeholder {
    color:    #333;
}
:-moz-placeholder {
    color:    #333;
}
::-moz-placeholder {
    color:    #333;
}
:-ms-input-placeholder {
    color:    #333;
}


.mt20{
    margin-top: 20px
}

.mb10{
    margin-bottom: 10px
}
.fullwidth{ width: 100%; }
.blue-btn{ 
    padding: 0 15px !important;  
    display: inline-block !important;
    border: 1px solid #2786b4;
    font-size: 16px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #37c2df;
    line-height: 38px !important;
    height: 40px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
    text-shadow:0px 1px 2px #666;
}

.flat-blue-lg-btn{
    padding: 0 15px !important;  
    display: inline-block !important;
    border: 1px solid #6dc9dc;
    font-size: 30px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #6dc9dc;
    line-height: 48px !important;
    height: 52px;
}

.width180{
    min-width: 180px;   
}
.width120{
    min-width: 120px;
}

.sm-blue-btn{ 
    padding: 0 15px !important;  
    display: block !important;
    border: 1px solid #2786b4;
    font-size: 12px;  
    color: #fff !important; 
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #37c2df;
    line-height: 25px !important;
    height: auto;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
    text-shadow:0px 1px 2px #666;
}

.sm-grey-btn{
    padding: 0 15px !important;  
    display: inline-block !important;
    border: 1px solid #d8d8d8;
    font-size: 16px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #d8d8d8;
    line-height: 38px !important;
    height: 40px;
    -moz-box-shadow:    inset 0px 2px 0px 0px #cbcbcb;
    -webkit-box-shadow: inset 0px 2px 0px 0px #cbcbcb;
    box-shadow:         inset 0px 2px 0px 0px #cbcbcb;
    text-shadow:0px 1px 2px #666;
}


.sm-grey-btn.activeBtn{
    border: 1px solid #2786b4;
    background: #37c2df;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
}

.buttonOuter button{ min-width: 234px; }

.blue-btn-lg{ 
    padding: 0 30px !important;  
    display: inline-block !important;
    border: 1px solid #2786b4;
    font-size: 24px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #37c2df;
    line-height: 52px !important;
    height: 56px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
    text-shadow:0px 1px 2px #666;
}

.grey-btn-lg{ 
    padding: 0 30px !important;  
    display: inline-block !important;
    border: 1px solid #2786b4;
    font-size: 24px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #37c2df;
    line-height: 52px !important;
    height: 56px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
    text-shadow:0px 1px 2px #666;
}

.green-flat-btn{
    padding: 0 30px !important;  
    display: inline-block !important;
    border: 1px solid #1b937d;
    font-size: 34px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #1b937d;
    line-height: 52px !important;
    height: 56px;
}

.flat-blue-btn{
    background: #6dc9dc;
    border: 1px solid #6dc9dc;
    box-shadow: none;
    text-shadow: none;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'montserratbold';
    padding: 7px 10px !important;
}


.flat-blue-btn:hover{
    background: #32b0ca !important;
}


.blue-btn-lg{ 
    padding: 0 30px !important;  
    display: inline-block !important;
    border: 1px solid #2786b4;
    font-size: 24px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #37c2df;
    line-height: 52px !important;
    height: 56px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
    text-shadow:0px 1px 2px #666;
}

.flat-green-btn{
    background: #1b937d;
    border: 1px solid #1b937d;
    box-shadow: none;
    text-shadow: none;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'montserratbold';
    padding: 7px 10px !important;
}

.flat-green-btn:hover{
    background: #167967 !important;
}

.flat-orange-btn{
    background: #e59700;
    border: 1px solid #e59700;
    box-shadow: none;
    text-shadow: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'montserratbold';
    padding: 5px 25px !important;
}

.blue-btn-lg:hover,
.sm-blue-btn:hover,
.blue-btn:hover {
    background: #32b0ca !important; 
}

.green-btn, .green-btn:focus{
    padding: 0 15px !important;  
    display: inline-block !important;
    border: 1px solid #2ca137;
    font-size: 16px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #48c253;
    line-height: 38px !important;
    height: 40px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #3fa948;
    -webkit-box-shadow: inset 0px -2px 0px 0px #3fa948;
    box-shadow:         inset 0px -2px 0px 0px #3fa948;
    text-shadow:0px 1px 2px #666;
}

.green-btn:hover, .green-btn:hover{
    background: #42af4c !important;
}

.lt-green-lg{
    padding: 0 30px !important;  
    display: inline-block !important;
    border: 1px solid #2ca137;
    font-size: 24px; 
    font-family: 'montserratbold'; 
    color: #fff !important; 
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #48c253;
    line-height: 52px !important;
    height: 56px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #3fa948;
    -webkit-box-shadow: inset 0px -2px 0px 0px #3fa948;
    box-shadow:         inset 0px -2px 0px 0px #3fa948;
    text-shadow:0px 1px 2px #666;
}

.lt-green-light {
    padding: 0 30px !important;
    display: inline-block !important;
    font-size: 24px;
    font-family: 'montserratbold';
    color: #fff !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    line-height: 52px !important;
    height: 56px;
    text-shadow: 0px 1px 2px #666;
        background-color: #00ff00;
    border: 1px solid #00ff00;
    box-shadow: none;
}

lt-green-light:hover{
        background-color: #01e801;    
}


.lt-green-lg:hover{
    background: #42af4c;
}

// Added By Ajay 
.customRadio input{cursor:pointer;}
.lt-green-lg:hover,
.sm-blue-btn:hover,
.blue-btn:hover { 
}

.navbar{
    margin: 0;
    background: none;
    border: none;
}

.homeHeader{
    background: url("../images/home-banner.jpg") no-repeat right bottom #b2b2b2 !important;
    background-size: cover;
    min-height: 477px;
}

.donatePage-content{
    padding-top: 50px;
    padding-bottom: 160px;
}

.enterAmount{
    font-size: 20px;
    color: #797979;
    font-family: 'montserratregular';
    margin: 0 0 12px;
}

.customPage .createCampaignForm .blue-btn-lg i{
    margin: 0 20px 0 0;
    font-size: 24px;
}

.customPage .createCampaignForm .blue-btn-lg i.fa-times{
    float: right;
    margin: 12px 0 0;
    text-shadow: none;
    color: #167285;
}

.mb15{
    margin: 0 0 15px;
}

.customPage .blue-btn-lg.mb15.white-bg{
    margin: 0 0;
    background: #fff;
    color: #d5d5d5 !important;
    -moz-box-shadow:    inset 0px -2px 0px 0px #f0f0f0;
    -webkit-box-shadow: inset 0px -2px 0px 0px #f0f0f0;
    box-shadow:         inset 0px -2px 0px 0px #f0f0f0;
    text-shadow: none;
    border: 1px solid #c4c4c4;
    font-family: 'montserratregular';
}

.createCampaignForm .innerForm .gbpBtn input{
    background: #fff;
    font-family: 'montserratbold';
    color: #7acddf;
    border: 1px solid #a0a0a0;
    font-size: 34px;
    padding: 1px 20px;
    height: auto;
}

.customPage .blue-btn-lg.mb15.white-bg:hover{
    background: none !important;
}

.innerForm{
    background: #efefef;
    padding: 20px 25px;
    margin: 0 0 20px;
}

.customPage .blue-btn-lg.mb15.white-bg i{
    color: #bababa;
    text-shadow: none;
}

.createCampaignForm .giftBtn{
    font-size: 20px;
}

.border-radius4{
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 45px 0 0;
        padding-left: 54px;
    }

    .navbar-nav.navbar-right {
        margin: 35px 0 0;
    }

}

.navbar-nav>li>a{padding: 0; color: #fff; font-weight: normal; }
.navbar-nav>li{ font-weight: normal; font-size: 18px; padding: 0 12px;}
.navbar-default .navbar-brand{padding: 25px 0 0;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{ color: #fff; }
.navbar-default .navbar-nav>li>a{ color: #fff;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ color: #fff; background: none; }
.createAccount .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .lt-green-lg:hover, .facebookBtn:hover, .twitterBtn:hover, .gPlusBtn:hover{ /*color: #adadad;*/ opacity:0.7; }
.createAccount .navbar-default .navbar-nav>li>a{ color: #adadad;}
.createAccount .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ color: #adadad; background: none; }
.homeHeader h1{ font-size: 55px; font-family: 'montserratlight'; color: #fff; margin: 95px 0 10px;}
.homeHeader h2{ font-size: 36px; color: #fff; margin: 0 0 20px;}
.howItWork{ padding-top: 50px; }
.howItWork .imgBlock{ max-height: 100px; }
.howItWork h4{ margin: 20px 0 8px; font-size: 18px; font-family: 'montserratsemi_bold'; color: #9f9f9f;}
.howItWork p{ font-size: 12px;  color: #ababab;}
.explore-list {padding: 35px 0 0;}
.explore-list .colHeading{ font-size: 24px; font-family: 'montserratbold'; color: #9f9f9f; margin: 10px 0 20px;}
.explore-list ul li{ font-size: 18px; color: #6d6d6d; padding-left: 40px; margin: 0 0 18px; background: url("../images/sprite-img1.png") no-repeat;}
.explore-list ul li.charity-sec{ background-position: 0px 4px;}
.explore-list ul li.business-sec{ background-position: 0px -40px;}
.explore-list ul li.comp-sec { background-position: 0px -80px;}
.explore-list ul li.creative-sec{ background-position: 0px -122px;}
.explore-list ul li.events-sec{ background-position: 0px -164px;}
.explore-list ul li.travel-sec{ background-position: 0px -206px;}
.explore-list ul li.com-sec{ background-position: 0px -252px;}
.tabOuter{ padding: 35px 0 0;}
.tabOuter .nav-tabs{ border: none; }
.tabOuter .nav-tabs li{border: 1px solid #c8c8c8; border-right: none;}
.tabOuter .nav-tabs li:first-child{-webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px;}
.tabOuter .nav-tabs li:last-child{ border-right: 1px solid #c8c8c8; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px;}
.tabOuter .nav-tabs li a{ color: #6d6d6d; margin: 0; padding: 8px 15px; border: none;display: block; text-align: center; cursor: pointer; }
.tabOuter .nav-tabs li.active a{ border: none; background: none;}
.tabOuter .nav-tabs li:hover a{ border: none; background: none;}
.tabOuter .tab-content{ padding: 20px 0 0; }
.tabOuter .nav-tabs li{ font-size: 20px; }
.listEplore .imgContainer{ -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;height: 186px; background: url("../images/home-banner.jpg") no-repeat center center; background-size: cover;}
.tabOuter .listDetails{}
/*ul.listEplore li{ width: 33.33%; float: left;}*/
ul.listEplore li .listDetails{ -moz-box-shadow:    inset 0px -2px 0px 0px #c4c4c4; -webkit-box-shadow: inset 0px -2px 0px 0px #c4c4c4; box-shadow:         inset 0px -2px 0px 0px #c4c4c4; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 20px 20px 15px; border: 1px solid #b6b6b6;/*height:132px;*/}
ul.listEplore li .detialsLeft{ float: left; width: 70%;}
.tab-content ul.listEplore li .detialsLeft{ float: left; width: 65%;}
.detialsLeft .location{font-size: 11px; color: #857f7f; font-family: 'montserratlight';}
.detialsLeft .type{font-size: 15px; color: #6d6d6d; font-family: 'montserratlight';}
/*.tabOuter .tab-content */ul.listEplore li .detialsRight{ float: left; width: 30%; text-align: right;}
/*.tabOuter .tab-content */ul.listEplore li .listDetails .price{ font-size: 24px; font-family: 'montserratsemi_bold'; color: #6d6d6d; }
.paginationOuter ul.pagination{ margin: 30px 0 45px; font-size: 14px;  font-family: 'montserratbold'; padding-left: 15px;}
.paginationOuter ul.pagination > li > a, .paginationOuter ul.pagination > li > span{ padding: 4px 12px;  line-height: 20px; color: #a5a5a5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.paginationOuter ul.pagination > li:hover > a, .paginationOuter ul.pagination > li:hover > span{cursor: default; background-color: none; color: #37c2df;}
.paginationOuter ul.pagination > li:hover > a{cursor: pointer;}
.paginationOuter ul.pagination > li > a:hover, .paginationOuter ul.pagination > li > span:hover{ background: none;  color: #37c2df;}
.paginationOuter ul.pagination > li { margin-right: 5px; display: inline-block; }
.paginationOuter ul.pagination>.active>a, .paginationOuter ul.pagination>.active>a:focus, .paginationOuter ul.pagination>.active>a:hover, .paginationOuter ul.pagination>.active>span, .paginationOuter ul.pagination>.active>span:focus, .paginationOuter ul.pagination>.active>span:hover { cursor: default; background-color: none; color: #37c2df;}
.bottomPane{background: #f2f4f4; padding: 40px 0px 45px;}
.bottomPane h3{ font-size: 45px; color: #37c2df;}
.bottomPane h3 span{font-family: 'montserratbold';}
.bottomPane p{ font-size: 19px; color: #bfbfbf; margin: 0 0 25px; }
.footerWrapper{ padding: 100px 0 75px; }
.footerWrapper .col1{ width: 32%; float: left; }
.footerWrapper .col2{ width: 17%; float: left; }
.footerWrapper .col3{ width: 17%; float: left;}
.footerWrapper .col4{ width: 17%; float: left;}
.footerWrapper .col5{ width: 17%; float: left;}
.footerLogo{ padding: 15px 0 0 64px; }
.footerLinksHeading{    margin: 0 0 6px; font-size: 12px;font-family: 'montserratbold'; color: #757575; }
.footerWrapper > div a{ color: #757575; font-size: 10px;}
.footerWrapper > div a:hover{opacity:0.75;}
.footerWrapper > div ul li{ line-height: 1; }
.socialIcons li{ display: inline-block; margin: 0 8px; }
.socialIcons li a span{ border-radius: 50%; display: inline-block; font-size: 24px; height: 44px; width: 44px; background: #37c2df; text-align: center; line-height: 44px; color: #fff;}
/*How its work*/
.innerHeader{ background: #f9f9f9; padding-bottom: 41px;}
.innerHeader .navbar-default .navbar-nav > li > a{ color: #333; }
.innerHeader .navbar-default .navbar-nav > .active > a, .innerHeader .navbar-default .navbar-nav > .active > a:focus,  .innerHeader .innerHeader .navbar-default .navbar-nav > .active > a:hover{ color: #333; }
.innerHeader .navbar-nav>li{ font-weight: normal; font-size: 16px; padding: 0 15px;font-family: 'montserratbold';}
.innerHeader .navbar-nav{ margin: 42px 0 0; }
.innerHeader .navbar-nav.navbar-right{ margin: 35px 0 0; }
.innerHeader .navbar-nav.navbar-right > li{padding: 0 5px;}
.breadcrumb{ background: none; padding: 25px 0; margin: 0; border-radius: 0; font-family: 'montserratregular';}
.breadcrumb li a{ color: #6dc9dc; }
.breadcrumb li.active {font-family: 'montserratbold';}
.listBox { margin: 0 0 25px; border: 1px solid #c4c4c4; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden;}
.listBox h3 { font-size: 16px; background: #f4f4f4; padding: 10px 20px;font-family: 'montserratregular'; color: #575757; border-bottom: 1px solid #c4c4c4;}
.innerListbox ul li a{ display: block; padding: 10px 10px 10px 60px; color: #383838; font-size:14px; border-bottom: 1px solid #e8e8e8; background: url("../images/sprite-img2.png") no-repeat 0 0;}
.innerListbox ul li.account-sec a{ background-position: 20px 11px; }
.innerListbox ul li.profile-sec a{ background-position: 20px -37px;}
.innerListbox ul li.face-sec a{ background-position: 20px -82px;}
.innerListbox ul li.twitter-sec a{ background-position: 20px -125px;}
.innerListbox ul li.camp-sec a{ background-position: 20px -240px;}
.innerListbox ul li.dona-sec a{ background-position: 20px -288px;}
.innerListbox ul li.comm-sec a{ background-position: 20px -336px;}
.innerListbox ul li.reward-sec a{ background-position: 20px -381px;}
.innerListbox ul li.insight-sec a{ background-position: 20px -428px;}
.innerListbox ul li.events-sec a{ background-position: 20px -542px;}
.innerListbox ul li.socialMedia-sec a{ background-position: 20px -589px;}
.innerListbox ul li.sendText-sec a{ background-position: 20px -638px;}
.innerListbox ul li.sendEmails-sec a{ background-position: 20px -683px;}
.innerListbox ul li.orderPring-sec a{ background-position: 20px -729px;}
.innerFooter{ background: #1b937d; }
.innerFooter .footerWrapper{ padding: 20px 20px; }
.innerFooter .footerLinksHeading{ color: #fff; }
.innerFooter .footerWrapper > div a{ color: #fff; }
h2.heading{ color: #666; font-size: 30px; margin: 0 0 20px;}
.subHeading{ margin: 0 0 20px; font-size: 18px; color: #bfbfbf; padding: 0 0 10px; border-bottom: 1px solid #dadada;}
.campaignList{ margin: 0 0 20px; }
/*.campaignList ul.listEplore li{ width: 28%; float: left; margin-right: 8%; }*/
.campaignList ul.listEplore li:last-child{ margin-right: 0; }
/*.campaignList .listDetails .price{ font-size: 14px; color: #6d6d6d; font-family: 'montserratsemi_bold';}
.campaignList .detialsLeft .type { font-size: 10px; color: #6d6d6d; font-family: 'montserratlight';}
.campaignList .detialsLeft .location{ font-size: 8px; }*/
.campaignList ul.listEplore li .listDetails{ padding: 12px 12px 10px; }
.innerRightCol .imgBlock{ min-height: 75px; }
.innerRightCol .iconText{ font-size: 18px; color: #666666; min-height: 54px; margin: 0 0 26px;}
.innerRightCol { margin: 0 0 120px; }
.campaignList .btn-block button{ width: 100%; }
.campaignList .btn-block{ width: 100%; padding: 5px 0 0;}
.aboutbanner{ background: #1b937d; padding: 80px 0 40px; color: #fff; }
.aboutbanner .bannerHeading{ font-size: 48px; font-family: 'montserratbold'; margin: 0 0 40px; line-height: 1;}
.aboutbanner p{   font-family: 'montserratbold'; font-size: 14px; letter-spacing: 1px;}
.aboutContent{ padding-top: 60px; margin-bottom:30px;}
.shortLinks li{ margin: 0 0 18px; }
.shortLinks li a{ color: #000; font-family: 'montserratbold';}
.checkList ul{ padding: 40px 0 0; margin: 0 0 50px; }
.checkList ul li{ margin: 0 0 10px; background: url("../images/check-sign.png") no-repeat left center; float: left; width: 50%; padding: 5px 0 5px 150px; font-size: 30px;  font-family: 'montserratbold';}
.videoWrapper{ background: #d2d2d1; width: 100%; text-align: center; position: relative; display: table; }
.videoWrapper .playBtn{ display: table-cell; height: 445px; vertical-align: middle; }
.hitPage{ text-align: center; }
.hitPage h6{ font-size: 54px; color: #6ecadc; font-family: 'montserratregular'; margin: 0 0 15px;}
.hitPage > div{ padding: 80px 0 60px; border-bottom: 2px solid #37c2df;}
.hitPage p{ color: #bbbbbb; font-size: 18px; line-height: 24px; margin: 0 0 50px;}
.hitPage h6 span{  font-family: 'montserratbold';}
.hitPage .bg-blue{background: #f0fafb;}
.cirButton{ font-family: 'montserratbold'; font-size: 60px; color: #fff; border-radius: 50%; border: 1px solid #2087b9 ; background: #37c2df; -moz-border-radius: 50%; -webkit-border-radius: 50%; height: 94px; width: 94px;
            -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
            -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
            box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
            text-shadow:0px 1px 2px #666;    position: absolute;
            top: -125px;left: 50%;
            margin-left: -47px;}


.gbpBtn button,
.gbpBtn input{
    display: inline-block;
    vertical-align: middle;
}

.gbpBtn{
    padding: 0 0 10px;
}

.gbpBtn button span{
    display: inline-block;
    vertical-align: text-top;
   /* margin-left: 15px; */
}

.gbpBtn input[type="text"]{
    background: #fff;   
    font-family: 'montserratbold';
    color: #37c2df;
    border: 1px solid #a0a0a0;
    font-size: 34px;
    padding: 1px 20px;
    border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    max-width: 250px;
    outline: none;
    border: 1px solid #2786b4;
    line-height: 49px;
    height: auto;
}


.gbpBtn button,
.gbpBtn input[type="button"]{
    padding: 0px 30px !important;  
    display: inline-block !important;
    border: 1px solid #2786b4;
    font-size: 20px; 
    font-family: 'montserratbold';
    color: #fff !important; 
    border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    background: #37c2df;
    width: auto;
    line-height: 50px !important;
    height: 54px;
    -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
    -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
    box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
    text-shadow:0px 1px 2px #666;
}


.gbpBtn button:hover,
.gbpBtn input[type="button"]:hover{
    background: #32b0ca;
}

.gbpBtn.mainContent button{
    float: left;
}

.gbpBtn.mainContent{
    padding: 42px 0 0;
}

.gbpBtn.mainContent input[type="text"]{
    margin-right: 0;
    width: auto;
    max-width: 100%;
    float: left;
    font-size: 24px;
    color: #b0b6b9;
    font-family: 'montserratregular';
    height: 53px;
    width: 90%;
    border-right: none;
}

.gbpBtn.mainContent button{
    width: 10%;
    text-align: center;
    padding: 0 !important;
}

.donatePage-content .gbpBtn{
    padding: 0 0 50px;
}



.signUp-form .headingForm{
    font-size: 20px;
    color: #c4c4c4;
    margin: 0 0 20px;
}

.form-sec{
    padding: 20px 0 0;
}

.form-sec .form-row{ margin: 0 0 22px; }

.form-sec .form-row.multiinputs .inputBlock{
    width: 48%;
    float: left;
}

.form-sec .form-row.multiinputs .inputBlock:first-child{
    margin-right: 2%;
}

.form-sec .form-row.multiinputs .inputBlock:last-child{
    margin-left: 2%;
}

.privacyPolicy{ color: #aeaeae; font-size: 14px;}

.privacyPolicy a{color: #37c2df;}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:50px;
    height:28px; 
    display:inline-block;
    line-height:28px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:24px;
    vertical-align:middle;
    cursor:pointer;
    font-weight: normal;
    color: #aeaeae;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -28px;
}
label.css-label {
    background: url("../images/checkbox.png");
}

.checkboxSec{ position: relative; }

.alreadyAccount{ font-size: 24px; color: #aeaeae; }

.alreadyAccount a{ color: #37c2df; }

.donateRightCol ul.listEplore li {
    width: 100%;
    float: none;
    /*background: #f5f5f5;*/
    margin:  0 0 15px;
}

.donateRightCol ul.listEplore li .listDetails .price{ 
    font-size: 24px; 
    font-family: 'montserratsemi_bold'; 
    color: #6d6d6d;
}

.mapBlock ul{
    margin: 0 0 30px;
    background: #fff;
}

.mapBlock ul li{
    border: 1px solid #c4c4c4;
    border-bottom: none;
    padding: 12px 45px;
    background: url("../images/donate-sprite.png") no-repeat;
}

.mapBlock ul li.raised-sec{
    background-position: 14px 24px;
}

.mapBlock ul li.link-sec{
    background-position: 14px -36px;
}

.mapBlock ul li.date-sec{
    background-position: 14px -82px;
}

.mapBlock ul li.user-sec{
    background-position: 14px -138px;
}

.mapBlock ul li.place-sec{
    background-position: 14px -190px;
}

.labelSec a{ color: #3ea9f5; }

.mapBlock ul li span{ display: block;font-family: 'montserratregular'; color: #575757; }
.mapBlock ul li span.valueSec{ color: #ababab; }
.mapBlock ul li.mapSec {  border-bottom: 1px solid #c4c4c4;
                             border-radius: 0px 0px 5px 5px;
                             -moz-border-radius:  0px 0px 5px 5px;
                             -webkit-border-radius:  0px 0px 5px 5px;
                             padding: 0;
}

.mapBlock ul li:first-child { 
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius:  5px 5px 0px 0px;
    -webkit-border-radius:  5px 5px 0px 0px;
}

.mapBlock ul li iframe{ width: 100%; }

.leftColHeading {
    font-size: 35px;
    line-height: 1;
    padding: 0 0 15px;
    border-bottom: 1px solid #d2d2d2;
    color: #37c2df;
    margin: 0 0 25px;
}

.rightColHeading {
    font-size: 35px;
    line-height: 1;
    font-family: 'montserratbold';
    color: #37c2df;
    margin: 0 0 25px;
}

.paymentDetails .label{
    padding: 0;
    font-size: 22px;
    color: #7d7d7d;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 70%;
    text-align: left;
}

.paymentDetails .value{
    font-size: 24px;
    color: #37c2df;
    font-family: 'montserratbold';
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.paymentDetails .checkboxBlock{
    padding: 0;
    font-size: 18px;
    color: #7d7d7d;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 70%;
    text-align: left;
    margin: 0 0 10px;
}

.paymentDetails .paySec{
    font-size: 18px;
    color: #aeaeae;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.paymentDetails .checkboxBlock input[type=checkbox].css-checkbox + label.css-label{
    font-size: 18px;
    line-height: 20px;
    color: #aeaeae;
}

.paymentDetails .payment-row{
    margin: 0 0 15px;
}

.confirmHeading{ font-size: 30px;font-family: 'montserratregular'; color: #37c2df; margin: 0 0 15px; }

.confirmHeading span{ font-family: 'montserratbold';}

.blankspace{ margin: 50px 0 0; }

.paymentDetails p{ margin: 0 0 10px; font-size: 12px; color: #7d7d7d; }

.comment-section .labelSec{
    font-size: 20px;
    color: #797979;
    font-family: 'montserratregular';
    margin: 0 0 10px;
}

.textareablock textarea{ width: 100%; height: 150px;  border: 1px solid #c4c4c4; resize: none; 
                         border-radius: 10px;
                         -moz-border-radius: 10px;
                         -webkit-border-radius: 10px; padding: 20px; font-size: 20px; color: #333; outline: 0;}
.formbtns{
    margin-top: 25px;
 }
 
.comment-section .formbtns button{
    font-size: 20px;
}

.comment-section .formbtns button.grey-btn-lg{
   background: #a6a6a6;
    border: 1px solid #6c6c6c;
    -moz-box-shadow:    inset 0px -2px 0px 0px #858585;
    -webkit-box-shadow: inset 0px -2px 0px 0px #858585;
    box-shadow:         inset 0px -2px 0px 0px #858585;
}

.comment-section .formbtns button.grey-btn-lg:hover{
    background: #929191;
}

.shadowBox{
    padding: 20px;  
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
    -moz-box-shadow:    0 1px 0 0 #ddd;
    -webkit-box-shadow: 0 1px 0 0 #ddd;
    box-shadow:         0 1px 0 0 #ddd;
    margin: 0 0 15px;
}

.campaignDetialicontainer{
    background: #f4f4f4;
}

.postheading{
    font-size: 18px;
    color: #37c2df;
    font-family: 'montserratbold';
}

.postPublish{
    font-size: 14px;
    color: #ababab;
    font-family: 'montserratregular';
    margin: 0 0 10px;
}

.postdescription{
    font-size: 14px;
    font-family: 'montserratregular';
    line-height: 18px;
    margin: 0 0 10px;
}

.readMore a{
    font-family: 'montserratbold';
    color: #484848;
}

.readMore a:hover{
    font-family: 'montserratbold';
    color: #222;
}

.launchPage{ padding-top: 45px; padding-bottom: 180px;}
.customPage{ padding-top: 45px; padding-bottom: 65px;}
.iconOuter{ font-family: 'montserratbold'; font-size: 60px; color: #fff; border-radius: 50%; border: 1px solid #2087b9 ; background: #37c2df; -moz-border-radius: 50%; -webkit-border-radius: 50%; line-height: 72px; text-align: center; height: 80px; width: 80px;
            -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
            -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
            box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
            text-shadow:0px 1px 2px #666;  display: inline-block; margin-bottom: 10px;}

.iconText{
    text-align: center;
    color: #6dc9dc;
    font-size: 18px;
    font-family: 'montserratbold';
}

.laungSlogan{ 
    margin: 60px 0 0;
}

.border-bg{ background: url("../images/border-bg.jpg") no-repeat center 38px; }

.laungSlogan h4{
    font-size: 44px;
    font-family: 'montserratbold';
    color: #37c2df;
    margin: 0 0 12px;
}

.laungSlogan h4 span{
    font-family: 'montserratregular';
}

.laungSlogan p{
    font-size: 18px;
    color: #a9a9a9;
    margin: 0 0 75px;
}

.file-upload {
    position: relative;
    overflow: hidden; }

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); 
    width: 100%;
    height: 100%;
    z-index: 1;
}

.secheading{
    font-size: 20px;
    color: #525252;
    font-family: 'montserratregular';
    margin: 0 0 10px;
    clear: both;
}

.colorPickerOuter .customradio-theme{
    display: inline-block;
}
.createCampaignForm .secheading{
    color: #797979;
}

.astrikBlock{
    color: #f70202;
}

.createCampaignForm .gbpBtn input{
    font-size: 44px;
    width: 330px;
    -moz-box-shadow: inset 0px -2px 0px 0px #f0f0f0;
    -webkit-box-shadow: inset 0px -2px 0px 0px #f0f0f0;
    box-shadow: inset 0px -2px 0px 0px #f0f0f0;
    height: 66px;
    border: 1px solid #c4c4c4;
    padding: 0 25px;
    border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    color: #37c2df;
    font-family: 'montserratbold';
    max-width: none;
}

.createCampaignForm .gbpBtn button, .createCampaignForm .gbpBtn input[type="button"]{
    height: 66px;
    line-height: 60px !important; 
    font-size: 26px;
}

.createCampaignForm .innerForm .gbpBtn button, .createCampaignForm .innerForm .gbpBtn input[type="button"]{

    line-height: 50px !important;
    height: 52px;
    font-size: 20px;
}

.innerLable{
    font-size: 14px;
    color: #797979;
    font-family: 'montserratregular';
    margin: 0 0 8px;
}

.createCampaignForm .formRow .innerForm input.input-large[type="text"]{
    font-size: 16px;
    height: 50px;
}


.createCampaignForm .formRow .innerForm .inputBlock{
    margin: 0 0 10px;
}

.createCampaignForm .gbpBtn {
    margin: 0 ;
    padding: 0;
}

.createCampaignForm .formRow{
    margin: 0 0 30px;
}

.createCampaignForm .formRow input.input-large[type="text"]{
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.createCampaignForm .formRow .campaignname input.input-large[type="text"]{
    width: 600px;
}

.fundraiseBlock{
    background: #ebf9fc;
    padding: 30px 0;
    margin: 0 0 10px;
}
.createCampaignForm input[type=checkbox]:not(old),
.createCampaignForm input[type=radio   ]:not(old){
    width   : 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin  : 0;
    padding : 0;
    opacity : 0;
}

.createCampaignForm input[type=checkbox]:not(old) + label,
.createCampaignForm input[type=radio   ]:not(old) + label{
    display      : inline-block;
    width: 176px;
    height: 168px;
    display: inline-block;
    border: 2px solid #cccccc;
    padding: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}

.createCampaignForm .toogleSwitch input[type=radio   ]:not(old) + label{
    width: 110px;
    height: 66px;
    border: 1px solid #d8d8d8;
    font-size: 26px;
    color: #fff;
    box-shadow: none;
    text-shadow:0px 1px 2px #666;
    text-align: center;
    line-height: 62px;
    border-radius: 0;
}

.innerForm .inputBlock .customRadio.toogleSwitch{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.createCampaignForm .innerForm .toogleSwitch input[type=radio ]:not(old) + label{
    height: 42px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 74px;
}

.createCampaignForm .innerForm .toogleSwitch input[type=radio ]:not(old):checked + label{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.createCampaignForm .toogleSwitch input[type=radio   ]:not(old) + label{
    width: 110px;
    height: 66px;
    border: 1px solid #d8d8d8;
    font-size: 26px;
    color: #fff;
    box-shadow: none;
    text-shadow:0px 1px 2px #666;
    text-align: center;
    line-height: 62px;
    border-radius: 0;
}

.createCampaignForm .toogleSwitch input[type=radio   ]:not(old):checked + label{
    background: #37c2df;
    color: #fff;
    box-shadow: none;
    border: 1px solid #2b8ab8;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.createCampaignForm .largeBox input[type=radio   ]:not(old) + label{
    display      : inline-block;
    max-width: 302px;
    width: 100%;
    height: 268px;
    display: inline-block;
    border: 2px solid #cccccc;
    padding: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px;
}

.createCampaignForm .largeBox input[type=radio   ]:not(old) + label.endDateSec .imgBlock{
    height: 55px;
    width: 100%;
    background: url("../images/date-grey.png") no-repeat left top; 
}

.createCampaignForm .largeBox input[type=radio   ]:not(old) + label.ongoingSec .imgBlock{
    height:55px;
    width: 100%;
    background: url("../images/infinite-grey.png") no-repeat left 5px; 
}

.createCampaignForm .largeBox input[type=radio   ]:not(old):checked + label.endDateSec .imgBlock{
    height: 55px;
    width: 100%;
    background: url("../images/date-blue.png") no-repeat left top; 
}

.createCampaignForm .largeBox input[type=radio   ]:not(old):checked + label.ongoingSec .imgBlock{
    height:55px;
    width: 100%;
    background: url("../images/infinite-blue.png") no-repeat left 5px; 
}


.createCampaignForm .largeBox input[type=radio   ]:not(old):checked + label .selectboxheading{
    color: #37c2df;
}

.createCampaignForm input[type=radio   ]:not(old) + label.causeLable{
    background: url("../images/heart-img.png") no-repeat; 
    background-position: center 10px;
}

.createCampaignForm input[type=radio   ]:not(old) + label.bussLable{
    background: url("../images/businnes-img.png") no-repeat center 10px; 
}

.createCampaignForm input[type=radio   ]:not(old):checked + label.causeLable{
}

.createCampaignForm input[type=radio   ]:not(old):checked + label.bussLable{
    background: url("../images/businnes-blue.png") no-repeat center 30px; 
}

.createCampaignForm input[type=radio   ]:not(old) + label .bottomtext{
    font-size: 26px;
    font-family: 'montserratbold';
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #c0c0c0;
}

.createCampaignForm input[type=checkbox]:not(old):checked + label{
    background-position : 0 -142px;
}

.createCampaignForm input[type=radio]:not(old):checked + label{
    background-position : center -142px;
    border: 2px solid #3ea9f5;
    color: #37c2df;
}

.createCampaignForm input[type=radio]:not(old):checked + label .bottomtext{
    color: #37c2df;
}

.inputBlock .customRadio > div{
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.inputBlock .customRadio.toogleSwitch > div{
    position: relative;
    display: inline-block;
    margin-right: 00px; 
    background: #d8d8d8;
}

.smallText{
    font-size: 14px;
    font-family: 'montserratregular';
    color: #7d7d7d;
}

.inputBlock .customRadio.toogleSwitch{
    display: inline-block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
    -moz-box-shadow: inset 0px 2px 0px 0px #cbcbcb;
    -webkit-box-shadow: inset 0px 2px 0px 0px #cbcbcb;
    box-shadow: inset 0px 2px 0px 0px #cbcbcb;
}

.inputBlock .customRadio.largeBox > div{
    margin-right: 26px;
}

.customRadio .selectboxheading{
    font-size: 26px;
    color: #cccccc;
    font-family: 'montserratbold';
    font-weight: normal;
}

.customRadio p{
    font-size: 14px;
    color: #cccccc;
    font-family: 'montserratregular';
    font-weight: normal;
}

.inputBlock .customRadio > div label{

}

.addPhoto ul li{
    display: inline-block;
    margin: 0 20px 0 0;
}

.addPhoto .file-upload{
    height: 114px;
    width: 130px;
    background: #f7f7f7;
    border: 1px solid #d6d6d6;
    text-align: center;
    overflow: visible;
}

.logoUpload .file-upload{
    height: 175px;
    width: 200px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: url("../images/upload-icon.png") no-repeat center 35px;
    position: relative;
}

.logoUpload .file-upload span{
    font-size: 26px;
    color: #cccccc;
    font-family: 'montserratbold';
    font-weight: normal;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    display: block;
    text-align: center;
}

.addPhoto .file-upload span{
    color: #919191;
    font-size: 14px;
    font-family: 'montserratbold';
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
    left: 0;
}

.uploadProPic .fileUpload span.error-help-block,
.addPhoto .file-upload span.error-help-block{
    bottom: -34px;
    left: 0;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: auto;
}


.addPhoto .file-upload.facebookUpload{
    background: url(../images/facbookBlue.png) no-repeat center 25px #f7f7f7;
}

.addPhoto .file-upload.pcUpload{
    background: url(../images/computerBlue_.png) no-repeat center 25px #f7f7f7;
}

.addPhoto .file-upload.youtubeUpload{
    background: url(../images/youtubeBlue.png) no-repeat  center 30px #f7f7f7;
}

.addPhoto .file-upload:focus{
    border: 1px solid #37c2df;
}

.cityOuter,
.editorOuter,
.addPhotoOuter,
.colorPickerOuter{
    margin: 10px 0 15px;
}

.countrySelect{
    margin: 0 0 60px;
}
.selectOuter .citySelect,
.selectOuter .countrySelect{
    margin: 0px;
    overflow-y: visible;
    overflow-x: hidden;
}
 .selectOuter .citySelect .help-block,
.selectOuter .countrySelect .help-block{
    left: 15px;
}

.customPage .form-group{ margin: 0 0 30px;}

.coloePicker{
    margin: 0 0 40px;
}

.customPage .blue-btn-lg{
    min-width: 200px;
    margin-top: 15px;
}

.customPage .blue-btn-lg i{
    margin-left: 5px;
}

.middleBorder{ border-right: 1px solid #e2e2e2; padding-top: 20px; padding-bottom: 20px;}

.buttonOuter{padding-top: 30px;}

p.mTB{ font-size: 15px; color: #333333;margin: 10px 0 25px; 
       font-family: 'montserratregular';}

.createAccount{
    padding-bottom: 35px;
    border-bottom: 1px solid #dadada;
}

.accountWrapper{
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
}

.accountWrapper{padding-top: 80px;}

.citySelect input{
    width: 550px;
}

.input-large{   
    -moz-box-shadow:    inset 0px -2px 0px 0px #f0f0f0;
    -webkit-box-shadow: inset 0px -2px 0px 0px #f0f0f0;
    box-shadow:         inset 0px -2px 0px 0px #f0f0f0;
    height: 66px;
    border: 1px solid #c4c4c4;
    padding: 0 25px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 24px;
    color: #333 !important;
    font-family: 'montserratregular';
}

.creatAccount{ font-size: 40px; color: #797979; margin: 0 0 40px; line-height: 1;}

.customPage h4.createHeading{
    color: #848484;
    font-family: 'montserratregular';
    margin: 0 0 30px;
}

.selectOuter{
    height: 66px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 24px;
    /*color: #d5d5d5;*/
    color: #333;
    font-family: 'montserratregular';
    width: 600px;
    overflow-x: hidden;
    overflow-y: visible;
    background: url("../images/blue-btn-bg.png") no-repeat right center #fff;
}

.selectOuter .help-block{
        bottom: -34px;
    left: 0;
    position: absolute;
}

.fundraiseBlock .secheading{
    color: #797979;
    margin: 0 0 5px;
}

.fundraiseBlock p{
    font-size: 14px;
    color: #797979;
    font-family: 'montserratregular';
}

.selectOuter select{
    width: calc(100% + 100px);
    border: none;
    padding: 16px 20px 12px;
    background: none;
}

.compare-wrapper{
    background: #e2e6e5;
    padding: 50px 0;
}

.table-responsive table{
    width: 100%;
}

.compareTable th{
    font-size: 36px;
    color: #333333;
    text-align: center;
    width: 28%;
}

.compareTable th:first-child{
    width: 16%;
}

.compareTable th.theme-color{
    color: #6dc9dc;
}

.compare-wrapper button{
    margin-bottom: 40px;
}

.compareTable td{
    text-align: center;
    color: #333;
    font-size: 16px;
    height: 30px;
}

.compareTable td.featuresHeading{
    color: #1b937d;
    font-size: 24px;
    height: 55px;
    vertical-align: top;
}

.compareTable td:first-child{
    text-align: left;
}



.coverImageContent{
    background: url("../images/banner-content-bg.png") repeat-x center bottom;
    position: absolute; 
    bottom: 0;
    width: 100%;
    padding: 0 35px;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

.coverImageContent .profileOuter .imgOuter img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid #ffffff;
}

.coverImageContent .profileOuter{
    float: left;
    position: relative;
    bottom: -35px;
    margin-right: 30px;
}

.coverImageContent .campaignDetials{
    float: left;
    position: relative;
    bottom: -120px;
}

.progressOuter.progress-detail-class{ float: none !important    }
.progressOuter {
    float: right;
    position: relative;
    bottom: -70px;
}

.coverImageContent .campaignDetials .campaignName{
    font-size: 38px;
    color: #fff;
    font-family: 'montserratbold';
    line-height: 50px;
}

.campaignCategory{
    font-size: 17px;
    color: #fff;
    font-family: 'montserratregular';
}

.coverImageContent .campaignDetials .shareDonor{
    color: #929292;
    font-size: 16px;
    font-family: 'montserratregular';
    margin-top: 34px;
}

.coverImageContent .campaignDetials .shareDonor ul li{
    padding: 12px 25px;
    display: inline-block;
    vertical-align: middle;
}

.coverImageContent .campaignDetials .shareDonor ul li:first-child{
    padding-left: 0;
    /*border-right: 1px solid #dedede;*/
}

.coverImageContent .campaignDetials .shareDonor ul li span{
    font-family: 'montserratbold';
}

/*sprint 2*/

.campaignCharityPage{
    background: #f4feff;
}

.createAccount{
    background: #fff;
}

.mt20{
    margin-top: 20px;
}

.bgWhite{
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bgWhite h4{
    font-size: 36px;
    font-family: 'montserratsemi_bold';
    color: #37c2df;
    margin: 10px 0 8px;
}

.subCategory{
    font-size: 18px;
    color: #b2b2b2;
}

.f19{
    font-size: 19px;
    font-family: 'montserratlight';
    color :#484848;
    line-height: 25px;
}

.charityList .postheading{
    font-size: 22px;
}

.charityList .postdescription{
    color: #7f7f7f; 
}

.innerShadowBox{
    padding: 10px 20px 20px;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
    -moz-box-shadow:    0 1px 0 0 #ddd;
    -webkit-box-shadow: 0 1px 0 0 #ddd;
    box-shadow:         0 1px 0 0 #ddd;
    margin: 10px 0 15px;
}

.aValue{
    font-size: 38px;
    font-family: 'montserratbold';
    color: #37c2df;
}

.oValue{
    font-size: 16px;
    color: #2c2c2c;
}

.donate-value{
    color: #a4a4a4;
}

.greenThemeColor{
    color :#48c253 !important;
}
.blueThemeColor{
    color:#2c9bb2 !important;
}

.formOuter{
    text-align: center;

}

.formOuter {
    max-width: 560px;
    margin: 0 auto;
}

.formHeading{
    font-size: 40px;
    color: #797979;
    margin: 0 0 40px;
}

.remPass{
    font-size: 24px;
    color: #aeaeae;
}

.remPass a{
    color: #37c2df;
}

.greenThemebg{
    background :#48c253 !important;
}

.blueBorder{
    border-color: #37c2df !important ;
}

.lpt_heading{
    margin: -10px -20px 10px;
}

.raisingMoneyBox{
    padding: 15px 0 20px;
}

.raisingMoneyBox .labelSec{
    font-size: 10px;
}

.raisingMoneyBox .subCategory {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #dfdfdf;
}

.raisingMoneyBox .postPublish{
    color: #b2b2b2;
    font-size: 15px;
}

.updatePassword h2.heading {
    color: #666;
    font-size: 30px;
    margin: -20px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadada;
    text-align: left;
}

.updatePassword label {
    font-size: 18px;
    color: #ababab;
    font-weight: normal;
    text-align: left;
    display: block;
}


.createCampaignForm .formRow textarea.input-large{
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: auto;
    font-size: 24px;
    color: #b0b6b9;;
    padding: 20px 25px;
}

.mapBlock.borderRadiusZero ul li:first-child{
    border-radius: 0;
}
.mapBlock ul{
    margin: 0
}

.charityDetailsPage {
    padding: 15px 35px;
}

.charityDetailsPage .syria-img{
    padding: 20px 0 35px;
    /*text-align: center;*/
}

.charityDetailsPage .charity-Contlinks{
    text-align: center;
    padding-top: 20px;
}

.charityDetailsPage .charity-Contlinks p{
    text-align: left;
}

.charityDetailsPage .charity-Contlinks a, 
.charityDetailsPage .charity-Contlinks a:hover{
    color: #37c2df;
    font-size: 16px;
    word-wrap: break-word;
}

.charityDetailsPage .charityDetails-lower{
    border-top: 1px solid #cacaca;
    margin-top: 25px;
}

.charityDetailsPage .bigBlack h4 {
    color: #2a2a2a;
    font-size: 38px;
    margin: 0;
    padding-top: 15px;
}

.charityDetailsPage .details {
    color: #b2b2b2;
    font-size: 28px;
    padding-top: 10px;
}

.charityProDetails {
    margin-top: 45px;
}

.charityNumber{
    font-size: 17px;
    color: #b2b2b2;
}

.charityDetailsPage .charityDetails-upper {
    font-family: 'montserratregular';
}

.charityDetailsPage .charityDetails-lower {
    font-family: 'montserratlight';
}

ul.donorList {
    padding-top: 15px;
}

.charityProDetails h4 {
    margin: 0;
    font-size: 24px;
    color: #2a2a2a;
}

.charityDetailsPage .charityProDetails .details{
    font-size: 18px;
    padding-top: 20px;
}

.cardUser{
    color: #6d6d6d;
    padding: 20px 0;
}
.cardUser .cardDetail{
    position: relative;
    padding: 0 20px;
    border: 1px solid #b6b6b6;
    background: #f5f5f5;
    box-shadow: inset 0px -2px 0px 0px #b6b6b6;
    -moz-box-shadow:    inset 0px -2px 0px 0px #b6b6b6;
    -webkit-box-shadow: inset 0px -2px 0px 0px #b6b6b6;
    border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    min-height: 128px;
}

.cardUser .cardDetail .campTitle {
    font-size: 18px;
    margin: 0;
}

.cardUser .cardDetail .location{
    font-size: 13px;
}

/* Edited by harsh */
.donorList .progressOuter{
    max-width: 115px;
    height: 115px;
    position: absolute;
    right: 20px;
    bottom: -20px;
    top: auto;
}

.donorList .progressOuter img{
    max-width: 100%;
    height: auto;
}

.donorImg{
    height: 215px;
    background-image: url("../images/Layer-3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.cardUser .charityAmount {
    font-size: 22px;
    margin: 20px 0 15px;
    max-width: 280px;
}
.cardUser .charityAmount span{
    font-weight: bold;
}

.cardAnonymous{
    color: #6d6d6d;
    padding: 20px 0;
    border-bottom: 1px solid #cacaca;
    margin: 0 15px;
}

.cardAnonymous .donorDetails{
    position: relative;
    margin-top: 25px;
}

.cardAnonymous .imgOuter{
    position: absolute;
    left: 0;
    top:0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.cardAnonymous .name{
    font-size: 23px;
    margin: 0;
    color: #6d6d6d;
}
.cardAnonymous .imgOuter img{
    max-width: 135%;
    height: auto;
}
.cardAnonymous .text{
    padding-left: 80px;
    font-size: 18px;
    color: #b0b0b0;
}

.cardAnonymous .donorMsg{
    margin: 20px 0px;
    font-size: 24px;
}
/*sprint 2*/

/*Sprint 2 new updates */

.donateRightCol{
    margin-top: 25px;
}

.coverImageContent .profileOuter .imgOuter img{
    max-width: 210px;
    max-height: 210px;
}

.progressOuter img{
    max-width: 195px;
}
.coverImageContent .profileOuter{
    bottom: -45px;
}
.progressOuter{
    bottom:0px;
}
.profileOuter .imgOuter{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.campaignDetialicontainer{
    padding: 30px 0;
}
.coverImageContent .campaignDetials{
    bottom: -180px;
}
.bgWhite{
    border-radius: 7px;
    padding: 25px 35px 35px 50px;
}
.backersList .item{
    padding: 15px 30px 15px 22px;
    border-bottom: 1px solid #c4c4c4;
    font-family: 'montserratregular';
}
.backersList .item:nth-child(2n){
    border: none;
}
.heading{
    position: relative;
    padding-right: 35px;
}
.amount p {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: #575757;
    margin: 0;
}
.amount p span {
    font-size: 12px;
    vertical-align: top;
    line-height: 25px;
}
.bigTitle {
    font-size: 14px;
    color: #3bcb3e;
    font-family: 'montserratbold';
}
.subTitle {
    color: rgba(87,87,87,0.6);
    font-size: 12px;
}
.description {
    color: #9d9797;
    font-size: 12px;
    margin-top: 10px;
}
.charityList h3 {
    font-size: 16px;
    background: #f4f4f4;
    padding: 10px 20px;
    font-family: 'montserratregular';
    color: #575757;
    border-bottom: 1px solid #c4c4c4;
    margin: -11px -20px 15px;
}
.innerShadowBox{
    overflow: hidden;
}

.campaignListVertical ul.listEplore li {
    width: 100%;
    background: #fff;
    padding: 35px 0;
    border-bottom: 1px solid #c4c4c4;
}
.campaignListVertical ul.listEplore li:last-child{
    border: none;
}
.campaignListVertical ul.listEplore li .listDetails{
    box-shadow: none;
    border:none;
    padding: 0 15px 0 35px;
}
.campaignListVertical .listEplore .imgContainer {
    width: 153px;
    height: 123px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.campaignListVertical .detialsLeft .type{
    font-size: 23px;
    padding-top: 5px;
}
.campaignListVertical .tabOuter .tab-content ul.listEplore li .listDetails .price{
    font-size: 28px;
}
.campaignListVertical .tabOuter{
    padding: 0;
}
.campaignListVertical .progressOuter {
    position: static;
    max-width: 110px;
    max-height: 110px;
}
.campaignListVertical .progressOuter img{
    max-width: 100%;
}
.uploadProPic {
    background: url("../images/home-banner.jpg") no-repeat center center;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
}
.fileUpload {
    width: 160px;
    height: 34px;
    background: #37c2df;
    //overflow: hidden;  
    position: absolute;
    left: 36px;
    bottom: 10px;
    margin: 0;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px #666666;
}
.fileUpload:hover {
    background: #32b0ca !important;
}
.updatePassword .fileUpload label {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.fileUpload input {
display: block !important;
width: 157px !important;
height: 57px !important;
opacity: 0 !important;
overflow: hidden !important;
position: absolute;
top: 0;
left: 0;
height: auto !IMPORTANT;
}
.updatePassword.profile label{
    font-size: 14px;
}
.profile .pwdSetting p {
    font-size: 14px;
    color: #ababab;
    text-align: left;
    margin: 0;
}
.profile .pwdSetting label{
    color: #383838;
    font-size: 20px;
}
.profile .pwdSetting p a {
    color: #37C2DF;
}
.registerCharity .laungSlogan {
    margin: 60px 0;
}
.registerCharity .laungSlogan h4{
    color: #848484;
}
.charityProfile .secheading {
    text-align: left;
}
.charityListPage .cardUser .charityAmount{
    margin-bottom: 0;
}
.charityListPage .cardUser .cardDetail .location {
    font-size: 10px;
}
.charityListPage .cardUser .cardDetail .campTitle {
    font-size: 14px;
        padding-right: 66px;
}
.charityListPage .donorList .progressOuter {
    width: 62px;
    height: 62px;
    bottom: 16px;
}
.charityListPage .donorImg {
    height: 170px;
}
.charityListPage .charitiesBlock {
    padding-top: 35px;
}
.charityListPage .headTitleGray h4 {
    color: #6d6d6d;
    font-size: 30px;
    /*border-bottom: 2px solid #A6D9AB;*/
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 15px;
}
.charityDetailsPage .bigBlack h4 {
    color: #6d6d6d;
    font-size: 25px;
    font-family: 'montserratregular';
    margin-bottom: 3px;
}
.charityListPage.charityDetailsPage .details {
    font-size: 19px;
    color: #888888;
}
.charityListPage.charityDetailsPage .charityDetails-lower{
    border: none;
}
.charities-upper .border-bottom{
    border-bottom: 1px solid #c4c4c4;
}
.charityListPage .headTitleGray {
    margin-bottom: 15px;
}
.loadMoreBlock button{
    background: #fff;
    color: #a5a5a5;
    border: 1px solid #c4c4c4;
    font-size: 20px;
    padding:15px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    width: 365px;
}

.loadMoreBlock button:focus,
.loadMoreBlock button:hover{ 
    border: 1px solid #7acdd5;
    opacity: 0.7;
}

.loadMoreBlock button:focus{ outline: 0;}

.loadMoreBlock p{
    text-align: center;
    margin-bottom: 35px;
}
.headTitleGray.accountWrapper p {
    font-size: 19px;
    color: #bfbfbf;
    margin: 20px 0 15px;
}
.charityListPage .accountWrapper {
    padding-top: 0;
    max-width: 100%;
    padding: 0;
}
.charityListPage .accountWrapper button span:nth-child(2){
    min-width: 0;
    padding-left: 0;
}
.charityListPage .accountWrapper button span{
    border: none!important;
}

/*dated 25/05/2016*/

span.csvBtn.btn a {
    color: #fff;
}

span.csvBtn.btn {
    background: #37c2df;
    font-size: 11px;
    margin-left: 15px;
    min-width: 145px;
    padding: 5px 0;
}
.donationToatl p span {
    color: #48c253;
    font-size: 22px;
    display: block;
    line-height: 1;
    font-family: 'montserratbold';
}

.donationToatl p {
    font-size: 16px;
    color: #bfbfbf;
    text-align: right;
    margin: 0;
}
.viewFilter {
    color: #bfbfbf;
}
.viewFilter h2{
    font-size: 19px;
    margin: 0px 10px 0 0;
    line-height: 28px;
}
.filterSelect {
    border-radius: 3px;
    overflow: hidden;
    background: #ececec url("../images/selectArow.png") no-repeat 94% 50%;
    width: 175px;
}

.filterSelect select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    width: 100%;
}

.filterSelect select:focus {
    outline: none;
}
.donationTable {
    margin: 20px 0;
    color: rgba(171, 171, 171, 0.7);
    font-size: 13px;
    font-family: 'montserratregular';
    width: 100%;
    overflow: hidden;
    overflow-x: auto; 
}
.donationTable .table>tbody>tr>td, .donationTable .table>tbody>tr>th, 
.donationTable .table>tfoot>tr>td, .donationTable .table>tfoot>tr>th{
    padding: 10px 20px;
} 
.donationTable .table>thead>tr>td, .table>thead>tr>th{
    padding: 15px 20px 10px;
}
.donationTable thead tr {
    background: #f4f4f4;
    border: 1px solid #c4c4c4;
    font-size: 13px;
    color: rgba(87,87,87,0.7);
    font-weight: 300;
}
.donationTable a{
    color: rgba(62,169,245,0.7);
}

.myDonationDetails .item {
    margin: 10px 0;
    padding: 0 15px;
}
.myDonationDetails .item.btnBox{
    padding: 0;
}
.myDonationDetails .item.border-btm {
    border-bottom: 1px solid #c4c4c4;
}
.myCampaignPage .campaignList ul.listEplore li{
    width: 100%;
    background: #fff;
    padding: 0 0 20px;
}
.myCampaignPage .listing2 .listEplore .imgContainer{
    height: 110px;
}
.myDonationDetails {
    color: #575757;
    font-size: 13px;
    font-family: 'montserratregular';
    padding-left: 0;
}
.myDonationDetails span {
    display: block;
    color: #ababab;
}
.grayButton a {
    font-size: 11px;
    color: #9c9b9b;
    background: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    line-height: 1;
}
p.visitLink {
    margin: 6px 0 0;
}
p.visitLink a{
    color: #3ea9f5;
}
.myDonationDetails .item .btn {
    min-width: 128px;
    color: #fff;
    margin-right: 10px;
    padding: 4px 7px;
    font-size: 13px;
}
.myDonationDetails .item .btn.btn-red{
    background: #df3737;
    border:1px solid #b22c2c;
}
.myDonationDetails .item .btn.btn-blue{
    background: #37c2df;
    border: 1px solid #2c9bb2;
}
.myDonationDetails .item a.delete {
    color: #df3737;
    padding: 0 10px;
}

.donorList .item{
    max-width: 33%; float: none;
}
.charityListMain .donorList .item, .profileDonorPage .donorList .item{
    float: left; max-width: 100%;
}

.topPane {
    background: #d9d9d9;
    padding: 85px 0;
    color: #666;
    font-size: 20px;
}
.topPane h3{
    font-size: 50px;
    margin-bottom: 10px;
}
.topPane p{
    margin-bottom: 0;
}

.donorProfile .profilePicOuter{
    height: 290px;
    background: url("../images/Layer-3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 45px;
}
.profileDonorPage .profileTitle, .profileDonorPage.bgWhite h4{
    font-size: 36px;
    color: #666;
    font-family: 'montserratlight';
    margin: 30px 0;
}

.profileDonorPage.bgWhite h4{
    margin-bottom: 0;
}
.profileDonorPage .charityDetails-lower {
    margin-bottom: 30px;
}
.profileDonorPage .donorList .progressOuter {
    width: 72px;
    bottom: 18px;
    height: 72px;
}
.profileDonorPage .cardUser .charityAmount {
    margin-bottom: 5px;
}
/*Sprint 2 new updates */
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}


/******** cahnges @ 13/06/2016  *********/
.sliderOuter .flexslider{
    position: relative;
}
.sliderOuter .flex-control-nav {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    text-align: center;
}
.sliderOuter .flex-control-nav li {
    display: inline-block;
    padding: 5px 10px;
}
.sliderOuter .flex-control-nav li a {
    border: 2px solid rgba(255, 255, 255, 0.62);
    line-height: 0;
    text-indent: -999px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.sliderOuter .flex-control-nav li a.flex-active {
    border-color: #48C253;
}
.sliderOuter .flex-direction-nav {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    width:100%;
    padding: 0 15px;
}
.flex-nav-prev{
    float: left;
}
.flex-nav-next{
    float: right;
}
.createCampaignForm .formRow    {
    position: relative;
}

.help-block{
 //   position: absolute;
  //  bottom: -28px;
  //  left: 17px; 
    color: #A94442 !important;
    font-size: 15px !important;
  //  visibility:hidden;
   /* 
    bottom: -20px;
    color: #a94442;
    font-size: 12px;
    left: 17px;
    position: absolute;
   // Select outer- margin-bottom: 10px;
   */
}
.inputBlock .selectOuter{
   // margin-bottom: 10px;
}
/*Sprint 2 new updates 03/06/2016*/
p.errorImage {
    margin-top: 40px;
}
h1.errorTitle {
    font-size: 74px;
    margin: 20px 0 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #A5A5A5;
    color: #797979;
}
p.errorMsg {
    font-size: 24px;
    color: #797979;
    font-family: 'montserratregular';
}
.dropdown.logOut {
    min-width: 225px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0;
    background: #f4f4f4;
    position: relative;
}
.dropdown.logOut.open{
    border-radius: 5px 5px 0 0;
}
.dropdown-menu {
    width: 100%;
    background: #f4f4f4;
    border-top: 0;
    min-width: 225px;
    right: -1px !important;
}
li.dropdown>a.dropdown-toggle {
    padding: 8px;
    color: #807f7f !important;
    background: transparent !important;
    padding-left: 42px;
}
li.dropdown>a.dropdown-toggle span.caret {
    margin-left: 10px;
    float: right;
    margin-top: 8px;
}
span.imgDP {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: url('../../images/userDP.png');
    background-size: cover;
}
.logOut .dropdown-menu>li>a{
    color: #807f7f !important;
    padding: 10px;
    border-top: 1px solid #c4c4c4;
}
.logOut .dropdown-menu>li>a .fa {
    margin-right: 10px;
}
.wysihtml5-sandbox{
    color: #000 !important;
}
.innerRightCol .imgBlock i {
    font-size: 50px;
    color: #d9d9d9;
}
.postdescription {
    /*word-break: break-all;*/
    word-wrap: break-word;
    white-space: normal;
}
/*Accordion section*/
.accordionSection.ui-accordion .ui-accordion-icons {
  background: none;
  margin: -1px 0 0px;
  border-radius: 0;
  outline: 0;
  border-color: #c8c8ff;
  padding: 10px 10px 10px 30px;
  font-size: 16px;
  font-family: 'montserratsemi_bold';
  color: #999;
}

.accordionSection{ display: none;}

.accordionSection.ui-accordion{
    margin: 0 0 30px;
}

.accordionSection.ui-accordion .ui-widget-content{
  border-radius: 0;
  border-color: #c8c8ff;
  padding: 0;
}

.accordionSection.ui-accordion ul.listEplore li .listDetails{
    padding: 10px;
}

.campaign-profile{
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
}

.Checkout.is-desktop .Header-logoImage{
    background-size: auto 100%;
    background-repeat: no-repeat;
}



@media screen and (max-width: 1199px) {
    .navbar-nav {
        padding-left: 30px;
    }

    .navbar-nav > li {
        padding: 0 5px;
    }

    .socialIcons li {
        display: inline-block;
        margin: 0 2px;
    }

    .border-bg{ background: url("../images/border-bg-750.jpg") no-repeat center 38px;  background-size: 74% 4px; }
}

@media screen and (max-width: 991px) {
    .navbar-nav > li {
        padding: 0 10px;
    }

    .footerLogo {
        padding: 15px 0 0 0px;
    }

    .footerWrapper {
        padding: 50px 0;
    }

    .footerWrapper .col1 {
        float: left;
        width: 28%;
    }
    .footerWrapper .col2 {
        float: left;
        width: 21%;
    }
    .socialIcons img{
        max-width: 32px;
    }

    .border-bg{ background: url("../images/border-bg-600.jpg") no-repeat center 38px;  background-size: 76% 4px;  }

    .compareTable th {
        color: #333333;
        font-size: 24px;
        text-align: center;
        width: 25%;
    }

    .compareTable{
        width: 720px;
    }

    .coverImageContent .profileOuter .imgOuter{
        height: 150px;
        width: 150px;
    }

    .coverImageContent .profileOuter img{
        max-width: 100%;
    }

    .coverImageContent .profileOuter{
        bottom: -35px;
    }

    .coverImageContent{
        padding: 0 20px;
    }

    .progressOuter{
        height: 150px;
        width: 150px;
        bottom: -35px;
    }

    .progressOuter img{
        max-width: 100%;
    }

    .coverImageContent .campaignDetials{
        bottom: -62px;
    }
    .coverImageContent .campaignDetials .shareDonor{
        margin-top: 14px;
    }


    /*Sprint 2 new updates */

    .donorList .item{
        max-width: 49.5%; float: none;
    }
    .cardAnonymous .donorMsg{
        font-size: 20px;
    }

    .donorProfile .profilePicOuter{
        max-width: 290px;
    }
    /*Sprint 2 new updates */

    /******* changes 20/06/2016 **********/
    .charityDetailsPage{
        padding: 15px 0;
    }
        .donatePage-content .gbpBtn{
        padding: 0 0 15px;
    }
    .socialIcons li a span{
        font-size: 20px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
    }

    .tabOuter .panel-body,
    .tabOuter .panel-default{ padding: 0;}
}

@media screen and (max-width: 767px){
    .mobileCenter{ text-align: center;}
    .mobileCenter .gbpBtn{ display: inline-block;}
    .selectOuter{
        max-width: 100%;
    }
    .navbar-default .navbar-brand{
        padding: 20px ;
    }

    .homeHeader{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#51b6bb+0,1b927c+100 */
        background: #51b6bb; /* Old browsers */
        background: -moz-linear-gradient(top, #51b6bb 0%, #1b927c 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #51b6bb 0%,#1b927c 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #51b6bb 0%,#1b927c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b6bb', endColorstr='#1b927c',GradientType=0 ); /* IE6-9 */
        min-height: 0;
        padding: 0 0 60px;
    }

    .navbar-default .navbar-toggle{
        border: none;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background: #fff;
    }

    .navbar-toggle{
        margin-right: 5px;
        margin-top: 21px;
    }

    .homeHeader h1{
        text-align: center;
        font-size: 47px;
    }

    .homeHeader h1 span{
        font-family: 'montserratbold';
    }

    .homeHeader h2{
        font-size: 20px;
        text-align: center;
    }

    .homeHeader p{
        text-align: center;
        margin: 50px 0 0;
    }
    .lt-green-lg{
        padding: 0 30px !important;  
        display: inline-block !important;
        border: 1px solid #1682b6;
        font-size: 18px; 
        font-family: 'montserratbold'; 
        color: #fff !important; 
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: #37c2df;
        line-height: 38px !important;
        height: 40px;
        -moz-box-shadow:    inset 0px -2px 0px 0px #2c9bb2;
        -webkit-box-shadow: inset 0px -2px 0px 0px #2c9bb2;
        box-shadow:         inset 0px -2px 0px 0px #2c9bb2;
        text-shadow:0px 1px 2px #666;
    }
    .donateNowBtn .lt-green-lg{
        height: 56px;
        line-height: 52px !important;
    }
    /*Sprint 2*/

    .donorImg{
        /*min-height: 320px;*/
    }
    .charityListPage .donorImg {
        min-height: 0;
    }
    .campaignCharityPage .lt-green-lg{
        border: 1px solid #2ca137;
        font-size: 24px;
        font-family: 'montserratbold';
        color: #fff !important;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        background: #48c253;
        line-height: 52px !important;
        height: 56px;
        -moz-box-shadow: inset 0px -2px 0px 0px #3fa948;
        -webkit-box-shadow: inset 0px -2px 0px 0px #3fa948;
        box-shadow: inset 0px -2px 0px 0px #3fa948;
        text-shadow: 0px 1px 2px #666;
    }
    /*Sprint 2*/
    .bottomPane h3 {
        color: #37c2df;
        font-size: 34px;
        margin: 0 0 10px;
    }

    .bottomPane{
        padding: 40px 20px 35px;
    }

    .footerWrapper .col1 {
        float: none;
        width: 100%;
        margin: 0 0 50px;
        text-align: center;
    }

    .footerWrapper .col5,
    .footerWrapper .col4,
    .footerWrapper .col3,
    .footerWrapper .col2 {
        float: none;
        text-align: center;
        width: 100%;
        margin: 0 0 50px;
    }

    .footerLinksHeading {
        font-size: 18px;
        margin: 0 0 15px;
    }

    .footerWrapper > div a {
        color: #757575;
        font-size: 16px;
        line-height: 24px;
    }

    .footerWrapper{
        padding: 50px 0 0;
    }

    .socialIcons img {
        max-width: none;
    }

    .socialIcons li {
        margin: 0 15px;
    }

    .innerHeader .navbar-default .navbar-toggle .icon-bar {
        background: #333 none repeat scroll 0 0;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: none;
    }
    .hitPage h6 {
        font-size: 40px;
    }

    .hitPage p {
        margin: 0 0 20px;
    }

    .hitPage img{
        max-width: 100%;
    }

    .navbar-brand > img {
        display: block;
        max-width: 114px;
    }

    .innerHeader {
        background: #f9f9f9 none repeat scroll 0 0;
        padding-bottom: 21px;
    }

    .navbar-collapse{
        border: none;
        box-shadow: none;
        margin: 0px 0 0;
    }
    .innerHeader .navbar-collapse .navbar-nav{
        margin: 20px 0 0;
    }
    .navbar-nav {
        padding-left: 0;
        margin: 0;
    }
    .navbar-nav > li {
        padding: 0 10px;
        margin: 0 0 10px;
    }

    .innerHeader .navbar-nav.navbar-right,
    .innerHeader .navbar-nav{
        margin: 0;
    }
    .campaignList ul.listEplore li:last-child,
    .campaignList ul.listEplore li {
        float: none;
        margin-right: 8%;
        width: auto;
        max-width: 320px;
        margin: 0 auto 30px;
    }


    .navbar-nav.navbar-right > li {
        display: inline-block;
        width: auto;
        padding: 0px 5px;
    }

    .checkList ul li{
        width: 100%;
    }

    .homeHeader.campaignPage{
        background: url("../images/home-banner.jpg") no-repeat 78% 0% #b2b2b2;
        background-size: cover;
        min-height: 424px;
    }

   /* .homeHeader .gbpBtn{
        display: none;
    }*/

    .donatePage-content{
        padding-bottom: 40px;
    }

    .middleBorder{
        text-align: left; 
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .buttonOuter{
        padding-top: 10px;
        text-align: left;
    }

    .launchPage p.mTB{
        margin: 10px 0 50px;
    }

    .border-bg .col-sm-3{
        margin: 0 0 30px;
    }

    .citySelect input {
        width: 100%;
    }

    .addPhoto ul li{
        margin: 0 20px 0px 0;
    }

    .coverImageContent .profileOuter{
        float: none;
    }
    .bgWhite{
        padding: 15px;
    }
    .campaignListVertical ul.listEplore li{
        padding: 15px 0;
    }
    .campaignListVertical .listEplore .imgContainer{
        width: 100%;
        height: 180px;
    }
    .campaignListVertical ul.listEplore li .listDetails, .explore-list{
        padding: 15px 0 0;
    }
    /*Sprint 2 new updates */
    .registerCharity .laungSlogan{
        margin: 0;
    }
    .gbpBtn button span{
        margin-left: 0;
    }
    .myDonationDetails .item.btnBox{
        padding: 0 15px;
    }
    .myDonationDetails .item .btn {
        min-width: 0;
        padding: 0 23px;
    }
    .topPane {
        padding: 30px 0;
        font-size: 14px;
    }
    .topPane h3 {
        font-size: 35px;
    }
    .donorProfile .profilePicOuter{
        margin-top: 0;
    }
    .profileDonorPage .profileTitle, .profileDonorPage.bgWhite h4{
        font-size: 26px;
        margin: 20px 0 15px;
    }
    .profileDonorPage.bgWhite h4 {
        margin: 0;
    }
    .profileDonorPage .charityDetails-lower {
        margin-bottom: 0px;
    }
    .profileDonorPage ul.donorList {
        padding-top: 0;
    }
    /*Sprint 2 new updates */
        h1.errorTitle{
        font-size: 50px
    }
    p.errorMsg {
        font-size: 16px;
    }
    .explore-list .colHeading{
        text-align: center;
    }
    .explore-list ul{
        text-align: center;
        white-space: pre-line /* Create new line for each DIV */;
    line-height:0 /* Mask the extra lines */;
    *white-space: pre /*FixIE7*/;
    *word-wrap: break-word /*FixIE7*/
    }
    .explore-list ul li{ display: inline-block;
    line-height:100% /* Restore a default line-height */;
    *display: inline /*FixIE7*/;
    *zoom: 1 /*FixIE7*/;}
    .explore-list .colHeading:after{ 
   content: '\f0d7';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;

} 

.accordionSection{
    display: block;
}

    .socialIcons li a span{
        font-size: 24px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
    }
    .mobileDiv{
        background-color: #0b8ad7;
        margin-bottom: 20px;
    }
    .donation-outside-text{
        padding: 10px;
        color: #fff;
        text-align: center;
    }
    .donation-outside-text p{
        color: #fff;
    }

}


@media (max-width: 599px){

    .progressOuter {
        bottom: auto;
        height: 150px;
       /* position: absolute;
        right: 20px;
        top: 18px;*/
        width: 150px;
    }
    /*sprint 2*/
    .formHeading {
        font-size: 20px;
    }

    .remPass {
        font-size: 14px;
    }
    /*sprint 2*/

    /*Sprint 2 new updates */

    .laungSlogan h4{
        font-size: 34px;
    }

    .tabOuter .tab-content{
        padding: 0;
    }
    .gbpBtn.mainContent {
        padding: 25px 0 0;
    }

    .gbpBtn.mainContent button{
        width: 20%;
    }
    .gbpBtn.mainContent input[type="text"]{
        width: 75%;
        height: 54px;
    }

    .donorList .item{
        max-width: 99.5%; float: none;
    }
    .charityDetailsPage .details{
        font-size: 22px;
    }
    .cardAnonymous .text{
        font-size: 14px;
    }
    /*Sprint 2 new updates */
    .fb-outer .facebookBtn{ padding: 0 10px 0 0 !important;}
    .accountWrapper .fb-outer .facebookBtn .iconSec {
        font-size: 24px;
        padding: 0 10px;
    }
    
    .fb-outer .facebookBtn {
  border-radius: 4px;
  color: #fff !important;
  font-size: 16px;
  height: 56px;
  line-height: 52px !important;
}

.accountWrapper .fb-outer .facebookBtn span:last-child {
  border-left: 1px solid #4b67a1;
  padding-left: 10px;
}

.inputBlock .customRadio.largeBox > div{ margin: 0 0 30px;}

.campaign-profile{
    max-width: 100%;
}

.iconText{
    font-size: 15px;
}

}


@media (max-width: 480px){
    .form-sec .form-row.multiinputs .inputBlock{
        float: none;
        width: 100%;
    }   

    .form-sec .form-row.multiinputs .inputBlock:last-child{
        margin: 22px 0 0 0;
    }

    .facebookBtn{
        font-size: 16px;
    }

    .progressOuter,
    .coverImageContent .profileOuter .imgOuter {
        /*height: 100px !important;
        width: 100px !important;*/
    }
    .dashIndex .progressOuter{
        height: 50px !important;
        width: 50px !important;
    }
    .coverImageContent .campaignDetials{
        bottom: -47px;
    }

    .coverImageContent .campaignDetials .campaignName{
        font-size: 24px;
    }

    /*Sprint 2*/
    .donorList .progressOuter{
        height: 75px;
        width: 75px;
    }
    .donorImg{
        min-height: 220px;
    }
    .campaignCharityPage .blue-btn-lg, .campaignCharityPage .lt-green-lg{
        font-size: 23px;
    }
    /*Sprint 2*/

    /*Sprint 2 new updates */
    input[type=checkbox].css-checkbox + label.css-label, 
    .alreadyAccount{
        font-size: 18px;
    }
    .accountWrapper button {
        padding-right: 15px !important;
        line-height: 44px !important;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .creatAccount {
        font-size: 26px;
        margin: 0 0 25px;
    }
    .signUp-form .headingForm{
        font-size: 17px;
        margin: 0;
    }
    .loadMoreBlock button{
        width: 100%;
    }
    .accountWrapper button span.iconSec{
        width: 45px;
        font-size: 20px !important;
    }
    .accountWrapper button span:nth-child(2){
        font-size: 18px;
        min-width: 225px;
    }
    .accountWrapper {
        padding-top: 30px;
    }

    .donationToatl {
        position: absolute;
        right: 20px;
        top: 0px;
    }
    span.csvBtn.btn{
        margin: 15px 40px 0 0;
    }

    .myDonationDetails .item .btn {
        padding: 0 16px;
    }

    /*Sprint 2 new updates */
    h1.errorTitle{
        font-size: 34px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    p.errorMsg {
        font-size: 14px;
    }
    .gbpBtn input[type="text"]{
        max-width: 150px;
        line-height: 48px;
    }

    .donatePage-content .facebookBtn{
        font-size: 17px;
        padding-right: 15px !important;
        margin-bottom: 20px;
    }
    .donatePage-content .iconSec{
        font-size: 24px;
        padding: 0 15px;
    }
    .iconOuter{
        width: 70px;
        height: 70px;
        line-height: 66px;
    }
    .inputBlock .customRadio > div.campaign-option{
        float: left;
        width: 46%;
        margin-right: 8%;
    }
    .inputBlock .customRadio > div.campaign-option:last-child{
        margin-right: 0;  
    }
    .createCampaignForm .campaign-option input[type=radio   ]:not(old) + label{
        width: 100%;
        height: 150px;
    }
    .createCampaignForm .campaign-option input[type=radio   ]:not(old) + label .bottomtext{
        font-size: 20px;
    }
    
}


/*--------------------- New CSS Start here -------*/
.login-left, .login-right, .or-text {margin-top:30px;}

.login-left h2, .login-right h2 {font-size:36px; margin-bottom:35px; color:#00bc3e; background: -webkit-linear-gradient(left, #00bc3e, #37c2df); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.login-left h4, .login-right h4 {font-size:18px; margin-bottom:20px; color:#848484;}

.social-buttons {
    margin-bottom: 25px;
}
.social-buttons .btn {
    font-size: 22px;
    font-weight: 300;
    height: 50px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 0px 25px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
.social-buttons a i {
    font-size: 22px;
    vertical-align: middle;
}
.social-buttons a span {
    vertical-align: middle;
	padding-top:7px;
	padding-bottom:10px;
}
.social-buttons .btn-fb{
    color: #fff;
    background-color:#3c5a99;
}
.social-buttons .btn-fb span {
	border-left: 1px solid #37528b;
    display: inline-block;
    padding-left: 30px;
}
.social-buttons .btn-fb i {margin-right:16px;}

.social-buttons .btn-fb:hover {
    color: #fff;
    background-color:#496ebc;
}
.social-buttons .btn-fb:hover .btn-fb span {
	border-left: 1px solid #37528b;	
}
.social-buttons .btn-tw{
    color: #fff;
    background-color:#00a2f9;
}
.social-buttons .btn-tw i {margin-right:8px;}

.social-buttons .btn-tw span {
	border-left: 1px solid #0093e3;
    display: inline-block;
    padding-left: 30px;
}

.social-buttons .btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.social-buttons .btn-google-plus{
    color: #fff;
    background-color:#ef3b2c;
}

.social-buttons .btn-google-plus span {
	border-left: 1px solid #d93628;
    display: inline-block;
    padding-left: 30px;
}

.social-buttons .btn-google-plus:hover{
    color: #fff;
    background-color:#ff5244;
}
.or-text {text-align:center; width:46px; height:46px; border-radius:50%; background:#e5f0f2; vertical-align:middle; font-size:20px; color:#adadad; padding-top:6px;}

/*------------------ Campaign Details CSS Start here ------*/

.campaign-detail-left h4 {font-family: 'Roboto', sans-serif !important; font-size:36px; font-weight:300px; color:#313131;}
.campaign-detail-left .created-text {font-size:14px; color:#aeaeae;}
.campaign-detail-left .created-text i {margin-right: 8px;}
.coverOuter {margin-top: 25px; margin-bottom: 60px; position: relative;}
.coverOuter .coverImage {min-height: 360px;} /*border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fff; background: url("../images/banner-bg.jpg") no-repeat center center; background-size: cover;*/
.social-links-wrapper {margin-top:45px;}
.social-links-wrapper a {display:inline-block; border-radius:3px; font-size:18px; padding: 4px 10px;}
.social-links-wrapper a i {font-size:24px; vertical-align:middle; margin-right:10px;}
.social-links-wrapper a.btn-tw {background:#00a1f9; font-size:18px; color:#fff;}
.social-links-wrapper a.btn-fb {background:#3a569f; font-size:18px; color:#fff;}
.social-links-wrapper a.btn-share {background:#e38b01; font-size:18px; color:#fff;}
.social-links-wrapper a.btn-donor {background:#5ec768; font-size:18px; color:#fff;}
.share-facebook-btn {padding: 8px 30px; display: inline-block ; font-size: 17px; font-family: 'Roboto', sans-serif !important; color: #fff !important; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;
    background: #37c2db; height: 42px; font-weight:bold;}
.share-facebook-btn i {margin-right:5px;}
.profile-wrapper {margin-top:10px; display:block; text-align:center;}
.profile-wrapper img {display:inline-block; width:52px; height:52px; border-radius:50%;}
.user-profile-charity {display:inline-block;}
.user-profile-charity .user-name {font-size:18px; font-weight:300px; color:#37c2df;}
.user-tags {font-size:12px; color:#626262; display:block;}
.user-tags i {font-size:12px; color:#37c2df; margin-right:10px;}
.user-profile {display: block; text-align:left;}

.blue-btn-lg {background:#48c253 !important;}

/************Login tabl-menu************/
.login-tab {margin-top:55px;}
.login-tab .nav-tabs > li.active > a, .card .nav-tabs > li.active > a:focus, .card .nav-tabs > li.active > a:hover { border-width: 0; }
.login-tab .nav-tabs > li > a { border: none; color: #c0c0c0; font-size: 18px; padding: 0 16px 12px 16px; margin-right: 0; font-family: 'Roboto', sans-serif; }
.login-tab .nav-tabs > li > a .fa { font-size: 17px; margin-right: 8px; }
.login-tab .nav-tabs > li.active > a, .login-tab .nav-tabs > li > a:hover { border: none; color: #00bc3e !important; background: transparent; }
.login-tab .nav-tabs > li > a::after { content: ""; background: transparent; height: 1px; position: absolute; width: 100%; left: 0px; bottom: 0px; transition: all 250ms ease 0s; transform: scale(0); }
.login-tab .nav-tabs > li > a:hover:after, .login-tab .nav-tabs > li.active a:after { content: ""; height: 1px; position: absolute; width: 100%; left: 0px; bottom: 0px; transition: all 250ms ease 0s; transform: scale(0); background: #00bc3e; /* For browsers that do not support gradients */ background: -webkit-linear-gradient(left, #00bc3e, #37c2df); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(left, #00bc3e, #37c2df); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(left, #00bc3e, #37c2df); /* For Firefox 3.6 to 15 */ background: linear-gradient(left, #00bc3e, #37c2df); /* Standard syntax */ }
.login-tab .nav-tabs > li.active > a::after, .login-tab .nav-tabs > li:hover > a::after { transform: scale(1); }
.login-tab .tab-nav > li > a::after { background: #21527d; color: #fff; }
.login-tab .tab-pane { padding: 0px; }
.login-tab .tab-content { padding: 0 }
.login-tab .nav-tabs > li.active {background: -webkit-linear-gradient(left, #00bc3e, #37c2df); -webkit-background-clip: text;}
/************Login tabl-menu************/


.why-register {margin-top:-25px;}
.why-register ul {margin:0px; padding:0px; line-height:22px; font-family: 'Roboto', sans-serif !important; font-size:14px; color:#797979; font-weight:300;}
.why-register ul i{color:#48c253; margin-right:8px;}


.form-sec .form-row textarea{
    width: 100%;
    height: 140px;
    border: 1px solid #a0a0a0;
    padding: 0 25px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 24px;
    /*color: #d5d5d5;*/
    color: #d5d5d5 !important;
    font-family: 'Roboto', sans-serif !important;
	font-weight:300;

}

.form-sec .form-row textarea:focus{
    border-color: #37c2df;
    outline: none;
}
.form-sec .form-row input{
    width: 100%;
    height: 54px;
    border: 1px solid #a0a0a0;
    padding: 0 25px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 24px;
    color: #d5d5d5 !important;
    font-family: 'Roboto', sans-serif !important;
	font-weight:300;
}

.form-sec .form-row input:focus{
    border-color: #37c2df;
    outline: none;
}
.browse-field {
  	background: #fff none repeat scroll 0 0;
    border: 1px dashed #cccccc;
    cursor: pointer;
    display: block;
    padding: 20px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 40%;
	border-radius:8px;
}
.browse-field label {
	padding: 9px 10px;
    display: inline-block;
    font-weight: normal;
    pointer-events: inherit;
    cursor: pointer;
}
.browse-field input[type="file"] { display: none; }
.browse-field label span {
    display: block;
    margin-top: 12px;
	font-family: 'Roboto', sans-serif !important;  
    font-size: 18px;
    line-height: 18px;
	font-weight:300;
 	background: -webkit-linear-gradient(left, #00bc3e, #37c2df); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
.browse-field label p.upload-text {
    display: block;
	font-family: 'Roboto', sans-serif !important;  
    font-size: 12px;
	font-weight:300;
	color:#797979 !important;
    margin-top: 12px;
	line-height:normal;
}
.charity-details h4 {font-family: 'Roboto', sans-serif !important; color:#37c2df; font-size:24px; font-weight:300; margin-top:5px;}
.charity-details .subCategory {font-family: 'Roboto', sans-serif !important; color:#5e5e5e; font-size:14px; font-weight:300;}
.charity-details .details {font-family: 'Roboto', sans-serif !important; color:#3a3a3a; font-size:14px; font-weight:300;}
.charity-logo {max-width:100%; display:block; height:auto; margin-top:10px;}


 @media(max-width:600px) {
.browse-field {width: 60%;} 
.social-buttons .btn {font-size:18px !important; padding-top:4px;}
.social-buttons a i {font-size:22px !important;}
.form-sec .form-row input.blue-btn-lg {font-size:20px !important;}
.form-sec .form-row input {font-size:20px !important;}
}
@media(max-width:767px) {
.login-tab .nav-tabs { white-space: nowrap; overflow-x: auto; overflow-y: hidden; font-size: 0; border-bottom: none; height: 55px; }
.login-tab .tab-content { border-top: 1px solid #ddd; }
.login-tab .nav-tabs > li { white-space: nowrap; display: inline-block; float: none; }
.login-tab .nav-tabs > li > a::after { bottom: 1px !important; }
}
