.chart-content {
    width: 100%;
    background: #ffffff;
    padding: 21px 0 10px 0;
}
.chart-category {
    width: 100%;
    padding: 8px 0px 20px 0px;
    height: 350px;
    margin-bottom: 32px;
}
.chart-category.no-border {
    border-right: none;
}
.chart-category.full-width {
    width: 100%;
    clear: both;
    border-right: none;
}
.raphael-group-3-creditgroup tspan {
	display:none;	
}
