@charset "utf-8";
/* CSS Document */


@media (max-width: 1600px) {
.menu-open-right{width:420px;}	
}

@media(max-height:700px) {
.nav-wrap { top: 40px; }
}
@media (max-width: 1199px) {
.nav-wrap { top: 40px; }
.comapin-bottem-detail { width: 172px; }
}
@media(max-width:992px) {
.nav-wrap { top: 40px; }
.slider-des h1 { font-size: 60px; line-height: 60px; }
.price-big { font-size: 18px; margin-right: 5px; }
.campain-left-img { width: 45px; margin-right: 5px; }
.campain-left-img img { width: 45px; height: 45px; }
.conpain-des, .campain-bottom { padding: 10px; }
.comapin-bottem-detail { width: 150px; }
.category-list .fa { width: 20px; }
.product-small-list { white-space: nowrap; overflow-x: auto; overflow-y: auto; height: 92px; }
.product-small-main { height: 80px; overflow: hidden; }
.product-small-list li { white-space: nowrap; padding: 0 20px; }
.footerLogo { padding: 15px 0 0 64px; }
.footerWrapper { padding: 50px 0; }
.footerWrapper .col1 { float: left; width: 28%; }
.footerWrapper .col2 { float: left; width: 21%; }
}
@media(max-width:767px) {
.why-us-main { overflow-x: auto; overflowy: hidden; white-space: nowrap; height: 45px; }
.why-us-scroll { height: 25px; overflow: hidden; }
.why-us-main li { width: auto; padding: 0 18px 0px 0; }
.why-us-icon { position: static; display: inline-block; margin-right: 8px; }
.why-us-main li h4 { font-size: 12px; display: inline-block; vertical-align: middle; }
.why-us-main li p { display: none; }
.why-us-icon img { height: 22px; }
.product-small-list { white-space: nowrap; overflow-x: auto; overflow-y: auto; height: 92px; }
.product-small-main { height: 80px; overflow: hidden; }
.product-small-list li { white-space: nowrap; padding: 0 8px; }
.tab-top-wrap { height: 49px; border-bottom: 1px solid #ddd; }
.login-tab .tab-top-wrap {height: 31px;}
.card .nav-tabs { white-space: nowrap; overflow-x: auto; overflow-y: hidden; font-size: 0; border-bottom: none; height: 55px; }
.card .tab-content { border-top: 1px solid #ddd; }
.card .nav-tabs > li { white-space: nowrap; display: inline-block; float: none; }
.card .nav-tabs > li > a::after { bottom: -1px !important; }
.conpain-des, .campain-bottom { padding: 10px 15px; }
.campain-left-img { width: 65px; margin-right: 15px; }
.campain-left-img img { height: 65px; width: 65px; }
.conpain-text-detail { font-size: 12px; }
.slider-des h1 { font-size: 34px; line-height: 40px; margin-bottom: 20px; letter-spacing: 0px; }
.navbar-right { border: none; }
.navbar .navbar-header, .navbar .navbar-right { margin: 0; }
.nav-wrap { top: 35px; }
.navbar-nav, .search-header { display: none; }
.navbar-header { float: left; width: 150px; }
.slider-des { bottom: inherit; position: absolute; text-align: center; top: 115px; }
.slider-btn { /*font-size: 14px; padding: 7px 20px;*/ background: #fff; color: #37c2df; }
.menu-open-right { width: 70%; top: 0; }
.header-right-nav li a { font-size: 18px; padding: 10px 25px; }
.open-menu-head { padding: 30px 15px; }
.slider-des h1 { margin-bottom: 183px; margin-top:30px;}
/*.carousel-indicators { display: none; }*/
.carousel-indicators{bottom: 0px;}
.owl-next { right: 7px; }
.owl-prev { left: 7px; }
.campain-img-wrap img{width:100%; height:auto;}
.campaign-wrap .tab-content{border:none !important;}
.campaign-wrap .tab-top-wrap li{border-bottom:1px solid #f1f1f1; height:37px; position:relative;}
.campaign-wrap .tab-top-wrap li a{position:static;}
.start-fund-btn, .slider-des h1 {text-align: center;}
.mobile-scroll{overflow: hidden; }
}
@media(max-width:768px) {
.footerWrapper .col1 { float: left; width: 100%; margin: 0 0 50px; text-align: center; }
.footerWrapper .col5, .footerWrapper .col4, .footerWrapper .col3, .footerWrapper .col2 { float: none; text-align: center; width: 100%; margin: 0 0 50px; }
.footerLinksHeading { font-size: 18px; margin: 0 0 15px; }
.footerWrapper > div a { color: #757575; font-size: 16px; line-height: 24px; }
.footerWrapper { padding: 50px 0 0; }
.socialIcons img { max-width: none; }
.socialIcons li { margin: 0 15px; }
#myCarousel.carousel.slide { height: 100%; }
#main-slider .fill:after {clear: both; content: ""; display: block; height: 100%; overflow: hidden; position: absolute; right: 0; top: 0; width: 100%; z-index: 9; opacity: 0.6;}
#main-slider:after { display: none; }
.slider-des { z-index: 99; }
.user-profile-charity{float:left; width:100%; text-align:left; margin-bottom:10px;}
.pound_small {display: inline-block; font-size: 23px; margin-top: -6px; vertical-align: top;}
.social-buttons {text-align: center;}
}
@media only screen and (max-width: 320px){

.slider-des h1 {
	margin-bottom:140px;	
}

}