@charset "utf-8";
/* CSS Reset */
* { margin: 0; padding: 0; }
header, footer, section, aside, nav, article { display: block; }
.clear { clear: both; }
.floatleft { float: left; }
.floatright { float: right; }
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
strong { font-weight: bold }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; font-family: 'Roboto', sans-serif !important; text-transform: inherit; }
p { margin: 0px; padding: 0px; font-family: 'Roboto', sans-serif !important; }
a { color: inherit; text-decoration: none; -webkit-transition: all .2ms ease-in-out; -moz-transition: all .2ms ease-in-out; -ms-transition: all .2ms ease-in-out; -o-transition: all .2ms ease-in-out; transition: all .2ms ease-in-out; }
a:focus { text-decoration: none; }
a:hover { color: inherit; text-decoration: none; -webkit-transition: all .2ms ease-in-out; -moz-transition: all .2ms ease-in-out; -ms-transition: all .2ms ease-in-out; -o-transition: all .2ms ease-in-out; transition: all .2ms ease-in-out; }
body a:hover { color: #000; text-decoration: none; }
body a:focus { color: #000; text-decoration: none; }
a img { border: none; }
img { max-width: 100%; }
a:focus { outline: none; }
body { font-size: 13px; color: #2c2c2c !important; background: #fff; font-family: 'Roboto', sans-serif !important; background: #f0fafc; }
li { list-style: none; }
.wrapper { width: 100%; position: relative; }
ul { margin: 0; padding: 0; }
a:focus { outline: none; }
.btn { -webkit-transition: all .2ms ease-in-out; -moz-transition: all .2ms ease-in-out; -ms-transition: all .2ms ease-in-out; -o-transition: all .2ms ease-in-out; transition: all .2ms ease-in-out; }
.btn:hover { -webkit-transition: all .2ms ease-in-out; -moz-transition: all .2ms ease-in-out; -ms-transition: all .2ms ease-in-out; -o-transition: all .2ms ease-in-out; transition: all .2ms ease-in-out; }
html, body { height: 100%; }
@font-face { font-family: 'FontAwesome'; src: url('../fonts/fontawesome-webfont.eot?v=4.6.3'); src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal }
@font-face { font-family: 'montserratbold'; src: url('../fonts/montserrat-bold-webfont.eot'); src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff'), url('../fonts/montserrat-bold-webfont.ttf') format('truetype'), url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'montserratregular'; src: url('../fonts/montserrat-regular-webfont.eot'); src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'montserratlight'; src: url('../fonts/montserrat-light-webfont.eot'); src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff'), url('../fonts/montserrat-light-webfont.ttf') format('truetype'), url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'montserratsemi_bold'; src: url('../fonts/montserrat-semibold-webfont.eot'); src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff'), url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'), url('../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg'); font-weight: normal; font-style: normal; }
/*****************header-start****************'*******************/

.nav-wrap { left: 0; position: absolute; top: 35px; width: 100%; z-index: 99; }
.navbar-nav { margin-top: 6px; }
.navbar-collapse { padding: 0; }
.navbar-brand { padding: 0; }
.navbar-default { background: none; border: none; }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
.container-fluid { padding: 0; }
.navbar-nav > li > a { font-size: 18px; font-weight: 700; color: #fff; padding: 0 17px; }
.navbar-default .navbar-nav > li > a { color: #fff; font-weight: 400; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background: none; font-weight: bold; color: #fff; }
/*************search-header**********************/
.search-header { float: right; margin-top: 2px; position: relative; margin-left: 5px; margin-right: 5px; }
.search-header .fa { font-size: 27px; color: #fff; cursor: pointer; }
.menu-toggle-wrap { float: right; margin-left: 25px; }
.mini-submenu { border: 2px solid #fff; border-radius: 3px; font-size: 16px; text-transform: uppercase; color: #fff; padding: 5px 15px; font-weight: 400; cursor: pointer; }
.mini-submenu:hover { background: #fff; color: #37c2df; }
.mini-submenu .fa { font-size: 18px; margin-left: 5px; }
/******slider-wrap*******/
.slider-wrap { position: relative; left: 0; top: 0; height: 100%; width: 100%; }
.slider-des { position: absolute; left: 0; width: 100%; bottom: 62px; z-index:99;}
.slider-des h1 { font-family: 'Montserrat', sans-serif; font-size: 79px; font-weight: 300; line-height: 83px; color: #fff; margin-bottom: 54px; letter-spacing: -4px; text-align: left; }
.slider-btn { font-size: 23.35px; font-family: 'Roboto', sans-serif !important; font-weight: 700; color: #fff; border: 1px solid #fff; border-radius: 5px; padding: 13px 35px; display: inline-block; }
.slider-btn:hover { background: #fff; color: #37c2df; border-color: #fff; }

/*********ehy-us-wrap**********/
.why-us-wrap { padding: 22px 0 26px 0; display: block; background: #fff; }
.why-us-main { text-align: center; font-size: 0; }
.why-us-main li { text-align: left; display: inline-block; width: 22%; padding-right: 10px; position: relative; padding-left: 50px; vertical-align: top; white-space: nowrap; margin-left: 2%; }
.why-us-main li:first-child { margin-left: 0; }
.why-us-icon { position: absolute; left: 0; }
.why-us-main li h4 { font-size: 18px; color: #9f9f9f; font-weight: 300; margin-bottom: 2px; }
.why-us-main li p { font-size: 10px; color: #373737; font-weight: 300; font-family: 'Roboto', sans-serif; white-space: pre-wrap; }
/************product-list****************/
.product-icon-wrap { background: #e5f0f2; padding: 20px 0; position: relative; }
.product-icon-wrap:before { position: absolute; content: ""; display: block; overflow: hidden; height: 6px; background: url(../images/border-shape.png) repeat-x left center; width: 100%; left: 0; top: -6px; z-index: 9; }
.product-small-list { text-align: center; }
.product-small-list li { display: inline-block; font-size: 0; margin: 0; text-align: center; /*padding: 0 18px;*/ }
.product-small-list li a { display: block; height: 40px; width: auto; background-position: center; padding: 25px 15px 0px 15px; }
.product-small-list li a:hover { background-position: center; }
.product-small-list a h5 { font-size: 14px; color: #6f6f6f; font-weight: 300; margin-top: 15px; }
.product-small-list li a:hover img {/* -webkit-filter: sepia(1) hue-rotate(8deg); filter: sepia(1) hue-rotate(8deg); -moz-filter: sepia(1) hue-rotate(8deg);*/ opacity: 0.8; }
.product-small-list li a:hover h5 { color: #00bc3e; }
/**************campaign-wrap***************/
.campaign-wrap { display: block; padding: 40px 0; background: #fff; }
.campain-list { background: #fdfdfd; width: 100%; margin-bottom: 30px; float: left; -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }
.campain-img-wrap img {/*width: 100%; */ width: 360px; height: 240px; }
.campain-img-wrap { position: relative; border-bottom: 5px solid #dedede; }
.campain-img-wrap { display: block; }
.campaign-progress { overflow: hidden; height: 5px; width: 150px; position: absolute; background: #00bc3e; /* For browsers that do not support gradients */ background: -webkit-linear-gradient(left, #00bc3e, #37c2df); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(left, #00bc3e, #37c2df); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(left, #00bc3e, #37c2df); /* For Firefox 3.6 to 15 */ background: linear-gradient(left, #00bc3e, #37c2df); /* Standard syntax */ }
.campaign-title-bg { background: url(../images/title-bg.png) repeat-x; width: 100%; height: 56px; display: block; position: absolute; bottom: 0; }
.conpain-des { padding: 10px 20px; border-bottom: 1px solid #e8e8e8; }
.campain-img-wrap h3 { position: absolute; font-size: 19px; color: #fff; font-weight: 500; bottom: 15px; left: 15px; z-index: 9; width: 90%; }
.price-big { font-size: 22px; color: #6d6d6d; font-weight: 700; vertical-align: middle; margin-right: 10px; }
.price-small { font-size: 12px; color: #6d6d6d; font-weight: 300; vertical-align: sub; }
.conpain-text-detail { color: #6d6d6d; font-size: 11px; font-weight: 300; letter-spacing: normal; line-height: 15px; height: 45px; overflow-x: hidden; overflow-y:hidden;}
.price-section { margin-bottom: 5px; }
.campain-bottom { padding: 13px 20px; float: left; width: 100%; }
.campain-left-img { float: left; margin-right: 15px; width: 65px; }
.campain-left-img img { width: 65px; height: 65px; border-radius: 50%; }
.comapin-bottem-detail { float: left; width: 240px; }
.comapin-bottem-detail h5 { font-size: 17px; color: #37c2df; font-weight: 300; margin-bottom: 4px; }
.category-list { font-size: 14px; color: #626262; font-weight: 300; }
.category-list .fa { font-size: 14px; color: #37c2df; width: 28px; }
.category-list .fa-map-marker {width: 25px;}

/************tabl-menu************/
.card .nav-tabs > li.active > a, .card .nav-tabs > li.active > a:focus, .card .nav-tabs > li.active > a:hover { border-width: 0; }
.card .nav-tabs > li > a { border: none; color: #c0c0c0; font-size: 18px; padding: 0 20px 12px 20px; margin-right: 0; font-family: 'Roboto', sans-serif; }
.card .nav-tabs > li > a .fa { font-size: 17px; margin-right: 8px; }
.card .nav-tabs > li.active > a, .card .nav-tabs > li > a:hover { border: none; color: #00bc3e !important; background: transparent; }
.card .nav-tabs > li > a::after { content: ""; background: transparent; height: 1px; position: absolute; width: 100%; left: 0px; bottom: 0px; transition: all 250ms ease 0s; transform: scale(0); }
.card .nav-tabs > li > a:hover:after, .card .nav-tabs > li.active a:after { content: ""; height: 1px; position: absolute; width: 100%; left: 0px; bottom: 0px; transition: all 250ms ease 0s; transform: scale(0); background: #00bc3e; /* For browsers that do not support gradients */ background: -webkit-linear-gradient(left, #00bc3e, #37c2df); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(left, #00bc3e, #37c2df); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(left, #00bc3e, #37c2df); /* For Firefox 3.6 to 15 */ background: linear-gradient(left, #00bc3e, #37c2df); /* Standard syntax */ }
.card .nav-tabs > li.active > a::after, .card .nav-tabs > li:hover > a::after { transform: scale(1); }
.card .tab-nav > li > a::after { background: #21527d; color: #fff; }
.card .tab-pane { padding: 25px 0; }
.card .tab-content { padding: 0 }
.card .nav-tabs > li.active .tab-title { color: #00bc3e; background: -webkit-linear-gradient(left, #00bc3e, #37c2df); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
/************pagination-wrap*********/
.pagination-wrap { float: left; width: 100%; padding: 0 15px; }
.pagination > li { margin: 0 3px; display: inline-block }
.pagination > li > a, .pagination > li > span {display: block; background: none; width: 31px; height: 31px; border-radius: 50%; color: #37c2df; text-align: center; border: none; font-size: 18px; padding: 2px; }
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > li.disabled a, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: #37c2df; color: #fff; }
.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span { border-radius: 50%; }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover { cursor: default; pointer-events: none; }
/*************menu-open-right***************/
.menu-open-right { background: rgba(55,194,233,1); width: 30%; position: fixed; right: 0; top: 0px; z-index: 99; height: 100%; }
.open-menu-head { padding: 30px 30px 18px; display: block; float: left; width: 100%; }
.header-right-nav li a { background: #ffffff; color: #37c2df; font-weight: 600; height: 52px; border-radius: 4px; padding: 10px 25px; font-size: 20.76px; display: inline-block; }
.header-right-nav { float: left; }
#slide-submenu { float: left; }
#slide-submenu .fa { font-size: 47px; color: #fff; cursor: pointer; }
.menu-right-menu { float: left; width: 100%; }
.menu-right-menu li a { font-size: 20.76px; font-weight: 600; color: #fff; padding: 19px 30px; display: block; border-bottom: 1px solid #9ce2f0; }
.menu-right-menu li:last-child a { border: none; }
.mini-submenu { display: block !important; }
/*********slider***********/
#myCarousel.carousel.slide { height: 800px; }
.carousel, .item, .active { height: 100%; }
.carousel-inner { height: 100%; }
/*#main-slider .fill:after { background: -moz-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.37) 40%, rgba(0,188,62,0.73) 70%, rgba(0,188,62,1) 100%); background: -webkit-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.37) 40%, rgba(0,188,62,0.73) 70%, rgba(0,188,62,1) 100%); background: linear-gradient(to right, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.37) 40%, rgba(0,188,62,0.73) 70%, rgba(0,188,62,1) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#00bc3e', GradientType=1 );
clear: both; content: ""; display: block; height: 100%; overflow: hidden; position: absolute; right: 0; top: 0; width: 100%; z-index: 9; opacity: 0.6; }*/


.fill { width: 100%; height: 100%; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }




#main-slider .fill:after{clear: both; content: ""; display: block; height: 100%; overflow: hidden; position: absolute; right: 0; top: 0; width: 100%; z-index: 9; opacity: 0.6; 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+31,00bc3e+57,00bc3e+100&0+0,0.48+57,1+100 */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.26) 31%, rgba(0,188,62,0.48) 57%, rgba(0,188,62,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.26) 31%,rgba(0,188,62,0.48) 57%,rgba(0,188,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.26) 31%,rgba(0,188,62,0.48) 57%,rgba(0,188,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00bc3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


footer { margin: 50px 0; }
.carousel-control.right, .carousel-control.left { background-image: none; display: none; }
.stylish-input-group .input-group-addon { background: white !important; }
.stylish-input-group .form-control { border-right: 0; box-shadow: 0 0 0; border-color: #ccc; }
.stylish-input-group button { border: 0; background: transparent; }
.search-wrap { position: absolute; right: -1px; top: 32px; width: 282px; }
.search-wrap .form-control { height: 40px; }
.search-wrap .glyphicon { color: #37c2df; }
.search-wrap { display: none; }
.owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* display none until init */
.product-small-main .carousel-inner {margin-left: 2%; width: 98%;}
.owl-carousel { display: none; position: relative; width: 99%; -ms-touch-action: pan-y; }
.owl-carousel .owl-wrapper { display: none; position: relative; text-align: center; -webkit-transform: translate3d(0px, 0px, 0px); width: 100% !important; }
.owl-carousel .owl-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.owl-carousel .owl-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-carousel .owl-item { float: left; }
.owl-controls .owl-page, .owl-controls .owl-buttons div { cursor: pointer; }
.owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* mouse grab icon */
.grabbing { cursor: url(grabbing.png) 8 8, move; }
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }
.owl-buttons { position: absolute; top: 50%; margin-top: -17px; width: 100%; }
.owl-prev { background: url(../images/prvs-btn.png) no-repeat top center; width: 17px; height: 34px; font-size: 0px; left: 0; position: absolute; }
.owl-next { background: url(../images/next-btn.png) no-repeat top center; width: 17px; height: 34px; font-size: 0px; right: 0; position: absolute; }
.owl-item { width: auto ; float: none !important; display: inline-block; }
.owl-buttons:after, .owl-buttons:before {
 clear:both;
 display:block;
 content:"";
 overflow:hidden;
}
.owl-prev:hover, .owl-next:hover { background-position: center -69px; }
.owl-carousel .owl-wrapper { white-space: nowrap; padding: 0 25px; }
.owl-carousel .owl-wrapper-outer { width: 98%; margin: 0 auto; }
.owl-item a {display: block; height: 40px; padding-top: 45px; text-align: center; background-position:top center;}
.owl-item a:hover {background-position:top center; color: #00bc3e; }
.owl-carousel .owl-stage-outer { width: 94%; margin-left: 4%; }
/*----------------New CSS Start here --------*/
.inner-wrapper { width: 100%; }
/*.container {background:#fff; height:500px; -webkit-box-shadow: 0 9px 18px 0 #000000;
box-shadow: 0 9px 18px 0 #000000; margin-top:50px; border-radius:7px; -webkit-box-shadow: 0 5px 18px 0 rgba(0,0,0,.3);
box-shadow: 0 5px 18px 0 rgba(0,0,0,.3);}*/


header.sticky { position: fixed; height: 100px; width: 100%; background: rgba(55,194,233,0.9); text-align: left; z-index: 9999; top:0px; }
header.sticky .nav-wrap { top: 35px; }
.tab-active { background: -webkit-linear-gradient(left, #01BC40, #36C2DD); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
/*-------------------Contact CSS Start here -------------*/
.contact-us-wrapper h2 { font-size: 36px; margin-bottom: 35px; color: #00bc3e; background: -webkit-linear-gradient(left, #00bc3e, #37c2df); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.contact-us-wrapper h4 { font-size: 18px; margin-bottom: 20px; color: #848484; }
.edit-button { display: inline-block; background: #a7a7a7; border-radius: 50%; height: 42px; width: 42px; font-size: 22px; color: #fff; text-align: center; padding-top: 5px; margin-right: 8px; }
.view-button { display: inline-block; background: #00bc3f; border-radius: 50%; height: 42px; width: 42px; font-size: 22px; color: #fff; text-align: center; padding-top: 5px; margin-right: 8px; }
.delete-button { display: inline-block; background: #e86f5b; border-radius: 50%; height: 42px; width: 42px; font-size: 22px; color: #fff; text-align: center; padding-top: 5px; }
.donation-number { display: inline-block; font-size: 18px; color: #a7a7a7; margin-left: 25px; vertical-align: middle; line-height: 10px; }
.donation-number span { font-size: 11px; }
.donation-number a { font-size: 11px; color: #36c2dd; }
.post-update-link i { margin-right: 8px; }
.post-update-link { background: #f4f4f4; padding-top: 5px; color: #a7a7a7; font-size: 14px; width: 100%; float: left; padding-left: 20px; padding-bottom: 4px; }
.campaign-step { font-size: 10px; color: #37c2df; display: block; }
.tab-top-wrap .nav-tabs i { color: #48c253; font-size: 16px; margin-left: 10px; }
.tab-top-wrap .nav-tabs li i { display: none; }
.tab-top-wrap .nav-tabs li.active i { display: inline-block; }
.donation-table .table > thead > tr > th { font-size: 18px; color: #2e2e2e; font-family: 'Roboto', sans-serif; background: #f1f1f1; border: none; }
.donation-table .table > tbody > tr > td, .donation-table .table > tfoot > tr > td, .donation-table .table > thead > tr > td { background: #f7fafa; border-bottom: 1px solid #edeeee; color: #797979; font-family: 'Roboto', sans-serif; }
.donation-table .table > tbody > tr > td i { color: #2e2e2e; font-size: 18px; }
.control { display: block; position: relative; padding-left: 30px; margin-bottom: -3px; cursor: pointer; font-size: 18px; }
.control input { position: absolute; z-index: -1; opacity: 0; }
.control__indicator { position: absolute; top: 2px; left: 0; height: 23px; width: 23px; background: #fff; border: 1px solid #c4c4c4; }
.control--radio .control__indicator { border-radius: 50%; }
.control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator { background: #fff; }
.control input:checked ~ .control__indicator { background: #fff; }
.control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator { background: #0e647d; }
.control__indicator:after { content: ''; position: absolute; display: none; }
.control input:checked ~ .control__indicator:after { display: block; }
.control--checkbox .control__indicator:after { left: 8px; top: 4px; width: 3px; height: 8px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg); }
.control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }
.control--radio .control__indicator:after { left: 3px; top: 3px; height: 15px; width: 15px; border-radius: 50%; background: #37c2df; }
.control--radio input:disabled ~ .control__indicator:after { background: #7b7b7b; }
.charity-sec { background: url(../images/product-icon1.png) no-repeat; }
.charity-sec:hover { background: url(../images/product-icon1-over.png) no-repeat; }
.community-sec { background: url(../images/product-icon7.png) no-repeat; }
.community-sec:hover { background: url(../images/product-icon7-over.png) no-repeat; }
.competitions-sec { background: url(../images/product-icon3.png) no-repeat; }
.competitions-sec:hover { background: url(../images/product-icon3-over.png) no-repeat; }
.creative-sec { background: url(../images/product-icon4.png) no-repeat; }
.creative-sec:hover { background: url(../images/product-icon4-over.png) no-repeat; }
.events-sec { background: url(../images/product-icon5.png) no-repeat; }
.events-sec:hover { background: url(../images/product-icon5-over.png) no-repeat; }
.faith-sec { background: url(../images/product-icon8.png) no-repeat; }
.faith-sec:hover { background: url(../images/product-icon8-over.png) no-repeat; }
.family-sec { background: url(../images/product-icon9.png) no-repeat; }
.family-sec:hover { background: url(../images/product-icon9-over.png) no-repeat; }
.national-sec { background: url(../images/product-icon10.png) no-repeat; }
.national-sec:hover { background: url(../images/product-icon10-over.png) no-repeat; }
.news-sec { background: url(../images/product-icon1.png) no-repeat; }
.news-sec:hover { background: url(../images/product-icon1-over.png) no-repeat; }
.newlyweds-sec { background: url(../images/product-icon11.png) no-repeat; }
.newlyweds-sec:hover { background: url(../images/product-icon11-over.png) no-repeat; }
.other-sec { background: url(../images/product-icon12.png) no-repeat; }
.other-sec:hover { background: url(../images/product-icon12-over.png) no-repeat; }
.travel-sec { background: url(../images/product-icon6.png) no-repeat; }
.travel-sec:hover { background: url(../images/product-icon6-over.png) no-repeat; }
.wishes-sec { background: url(../images/product-icon13.png) no-repeat; }
.wishes-sec:hover { background: url(../images/product-icon13-over.png) no-repeat; }
.footerWrapper { padding: 100px 0 75px; }
.footerWrapper .col1 { width: 32%; float: left; }
.footerWrapper .col2 { width: 17%; float: left; }
.footerWrapper .col3 { width: 17%; float: left; }
.footerWrapper .col4 { width: 17%; float: left; }
.footerWrapper .col5 { width: 17%; float: left; }
.footerLogo { padding: 15px 0 0 64px; }
.footerLinksHeading { margin: 0 0 6px; font-size: 12px; font-family: 'montserratbold'; color: #757575; }
.footerWrapper > div a { color: #757575; font-size: 10px; }
.footerWrapper > div a:hover { opacity: 0.75; }
.footerWrapper > div ul li { line-height: 1; }
.socialIcons li { display: inline-block; margin: 0 8px; }
.socialIcons li a span { border-radius: 50%; display: inline-block; font-size: 24px; height: 44px; width: 44px; background: #37c2df; text-align: center; line-height: 44px; color: #fff; }
.pagination1 li {
    display: inline-block;
    text-align: center;
    color: #333;
}
.pagination1 li.disabled a{
    background:#37c2df;
    color:#fff;
}
.pagination1 li a{
        background: none;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    color: #37c2df;
    text-align: center;
    border: none;
    font-size: 18px;
    display:block;
    padding: 2px;
}