.donate-page-height
{
    height: 450px;
}

.donation-form-col-width
{
    width: 49%;
}

.comment-anonymous{
    background: #a6a6a6;
    border: 1px solid #6c6c6c;
    -moz-box-shadow:    inset 0px -2px 0px 0px #858585;
    -webkit-box-shadow: inset 0px -2px 0px 0px #858585;
    box-shadow:         inset 0px -2px 0px 0px #858585;
}

.comment-anonymous:hover{
    background: #929191;
}

.stripe-button-el
{
    background: #48c253 none repeat scroll 0 0;
    border: 1px solid #2ca137;
    border-radius: 5px;
    box-shadow: 0 -2px 0 0 #3fa948 inset;
    color: #fff !important;
    display: inline-block !important;
    font-family: "montserratbold";
    font-size: 16px;
    height: 40px;
    line-height: 38px !important;
    padding: 0 15px !important;
    text-shadow: 0 1px 2px #666;
    background-image: none !important;
    width: 188px; 
}

.stripe-button-el:after
{
    content: "Complete Payment" !important;
}

.stripe-button-el:hover{
	background: #42af4c none repeat scroll 0 0 !important;
}
.stripe-button-el span
{
    display: none !important;
}